In [90]:
import numpy as np
import pandas as pd 
from keras.preprocessing.image import ImageDataGenerator, load_img
from sklearn.model_selection import train_test_split
from keras.utils import to_categorical
from keras.models import Sequential
from keras.callbacks import EarlyStopping,ReduceLROnPlateau
from keras.layers import Conv2D, MaxPooling2D, Dropout, Flatten, Dense, Activation, BatchNormalization
import matplotlib.pyplot as plt
import random
import os
download_list=os.listdir("Downloads/input")
print(download_list)

['sample_submission.csv', 'test', 'train']

In [91]:
FAST_RUN = False
IMAGE_WIDTH=128
IMAGE_HEIGHT=128
IMAGE_SIZE=(IMAGE_WIDTH, IMAGE_HEIGHT)
IMAGE_CHANNELS=3

In [92]:
filenames = os.listdir("Downloads/input/train/train/")
categories = []
for filename in filenames:
    category = filename.split('.')[0]
    if category=='dog':
        categories.append(1)
    else:
        categories.append(0)

In [93]:
df = pd.DataFrame({
    'filename': filenames,
    'category': categories
})

In [94]:
df.head()

       filename  category
0     cat.0.jpg         0
1     cat.1.jpg         0
2    cat.10.jpg         0
3   cat.100.jpg         0
4  cat.1000.jpg         0

In [95]:
df.tail()

           filename  category
24995  dog.9995.jpg         1
24996  dog.9996.jpg         1
24997  dog.9997.jpg         1
24998  dog.9998.jpg         1
24999  dog.9999.jpg         1

In [96]:
model = Sequential()


model.add(Conv2D(32, (3, 3), activation='relu', input_shape=(IMAGE_WIDTH, IMAGE_HEIGHT, IMAGE_CHANNELS)))
model.add(BatchNormalization())
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(Dropout(0.25))

model.add(Conv2D(64, (3, 3), activation='relu'))
model.add(BatchNormalization())
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(Dropout(0.25))

model.add(Conv2D(128, (3, 3), activation='relu'))
model.add(BatchNormalization())
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(Dropout(0.25))

model.add(Flatten())
model.add(Dense(512, activation='relu'))
model.add(BatchNormalization())
model.add(Dropout(0.5))
model.add(Dense(2, activation='softmax')) # 2 because we have cat and dog classes

model.compile(loss='categorical_crossentropy', optimizer='rmsprop', metrics=['accuracy'])

In [97]:
earlystop=EarlyStopping(patience=10)
learning_rate_reduction = ReduceLROnPlateau(monitor='val_acc', 
                                            patience=2, 
                                            verbose=1, 
                                            factor=0.5, 
                                            min_lr=0.00001)
callbacks=[earlystop,learning_rate_reduction]
batchsize=15

In [98]:
df["category"] = df["category"].replace({0: 'cat', 1: 'dog'})

In [99]:
train_df, validate_df = train_test_split(df,train_size=500,test_size=500
                                         , random_state=42)

In [100]:
train_df = train_df.reset_index(drop=True)

In [101]:
train_df

          filename category
0     cat.9801.jpg      cat
1      dog.366.jpg      dog
2     cat.5511.jpg      cat
3     cat.1648.jpg      cat
4     dog.4433.jpg      dog
5     dog.3730.jpg      dog
6    dog.11797.jpg      dog
7     dog.1491.jpg      dog
8     dog.1650.jpg      dog
9     dog.7056.jpg      dog
10    dog.9634.jpg      dog
11   dog.11552.jpg      dog
12    cat.3957.jpg      cat
13    cat.4600.jpg      cat
14    cat.3223.jpg      cat
15    dog.1452.jpg      dog
16   dog.12184.jpg      dog
17    dog.5991.jpg      dog
18    dog.2337.jpg      dog
19    dog.4382.jpg      dog
20    cat.4042.jpg      cat
21    dog.3227.jpg      dog
22    dog.7152.jpg      dog
23    cat.4303.jpg      cat
24    cat.1695.jpg      cat
25     dog.773.jpg      dog
26    dog.6860.jpg      dog
27    cat.2594.jpg      cat
28   cat.12488.jpg      cat
29   cat.12325.jpg      cat
..             ...      ...
470   dog.2958.jpg      dog
471  cat.10391.jpg      cat
472   cat.7866.jpg      cat
473   dog.5791.jpg      dog
474   dog.1375.jpg      dog
475   dog.2887.jpg      dog
476  dog.11261.jpg      dog
477    dog.766.jpg      dog
478  dog.12233.jpg      dog
479   dog.5970.jpg      dog
480   cat.7921.jpg      cat
481   cat.4733.jpg      cat
482   cat.9102.jpg      cat
483   dog.9901.jpg      dog
484   cat.2019.jpg      cat
485  dog.10403.jpg      dog
486   dog.4055.jpg      dog
487   cat.6204.jpg      cat
488   cat.6693.jpg      cat
489   cat.6152.jpg      cat
490   dog.8542.jpg      dog
491  dog.10028.jpg      dog
492   dog.9499.jpg      dog
493   dog.8453.jpg      dog
494   cat.1061.jpg      cat
495   dog.9386.jpg      dog
496   dog.2051.jpg      dog
497   cat.1356.jpg      cat
498   cat.1804.jpg      cat
499   cat.1448.jpg      cat

[500 rows x 2 columns]

In [102]:
validate_df = validate_df.reset_index(drop=True)

In [103]:
validate_df

          filename category
0      cat.493.jpg      cat
1     dog.9112.jpg      dog
2      cat.745.jpg      cat
3    dog.11022.jpg      dog
4    dog.11363.jpg      dog
5     cat.5488.jpg      cat
6     cat.3972.jpg      cat
7    dog.10365.jpg      dog
8     cat.1796.jpg      cat
9     cat.7359.jpg      cat
10     dog.678.jpg      dog
11    cat.1900.jpg      cat
12     cat.474.jpg      cat
13    dog.4771.jpg      dog
14   cat.12263.jpg      cat
15   dog.10772.jpg      dog
16     dog.652.jpg      dog
17    dog.6470.jpg      dog
18    cat.4591.jpg      cat
19    cat.4950.jpg      cat
20    cat.5725.jpg      cat
21    cat.6500.jpg      cat
22    cat.4732.jpg      cat
23   cat.12000.jpg      cat
24    cat.9602.jpg      cat
25    dog.4708.jpg      dog
26    cat.7408.jpg      cat
27     cat.980.jpg      cat
28     dog.230.jpg      dog
29   cat.10378.jpg      cat
..             ...      ...
470   cat.3296.jpg      cat
471  dog.11585.jpg      dog
472    cat.827.jpg      cat
473   cat.9478.jpg      cat
474   dog.4551.jpg      dog
475  dog.10456.jpg      dog
476   cat.6472.jpg      cat
477   dog.1719.jpg      dog
478   cat.7017.jpg      cat
479   cat.1941.jpg      cat
480   dog.7678.jpg      dog
481  cat.11566.jpg      cat
482   dog.1661.jpg      dog
483   dog.6480.jpg      dog
484   cat.3329.jpg      cat
485  dog.11309.jpg      dog
486   cat.2083.jpg      cat
487   cat.7464.jpg      cat
488  cat.12146.jpg      cat
489  dog.10624.jpg      dog
490   dog.9664.jpg      dog
491   cat.2305.jpg      cat
492  dog.11819.jpg      dog
493   cat.3916.jpg      cat
494  cat.12261.jpg      cat
495   cat.7545.jpg      cat
496   cat.2409.jpg      cat
497   dog.1521.jpg      dog
498   dog.4039.jpg      dog
499   dog.8878.jpg      dog

[500 rows x 2 columns]

In [104]:
total_train = train_df.shape[0]

In [105]:
total_train

500

In [106]:
total_validate = validate_df.shape[0]

In [107]:
total_validate

500

In [116]:
batch_size=15

In [117]:
train_datagen = ImageDataGenerator(
    rotation_range=15,
    rescale=1./255,
    shear_range=0.1,
    zoom_range=0.2,
    horizontal_flip=True,
    width_shift_range=0.1,
    height_shift_range=0.1
)

In [118]:
train_generator = train_datagen.flow_from_dataframe(
    train_df, 
    "Downloads/input/train/train/", 
    x_col='filename',
    y_col='category',
    target_size=IMAGE_SIZE,
    class_mode='categorical',
    batch_size=batch_size
)

Found 500 validated image filenames belonging to 2 classes.

In [119]:
validation_datagen = ImageDataGenerator(rescale=1./255)
validation_generator = validation_datagen.flow_from_dataframe(
    validate_df, 
    "Downloads/input/train/train/", 
    x_col='filename',
    y_col='category',
    target_size=IMAGE_SIZE,
    class_mode='categorical',
    batch_size=batch_size
)

Found 500 validated image filenames belonging to 2 classes.

In [120]:
epochs=5
history = model.fit_generator(
    train_generator, 
    validation_data=validation_generator,
    validation_steps=total_validate//batch_size,
    steps_per_epoch=total_train//batch_size,
    callbacks=callbacks,
      epochs=epochs
)

Epoch 1/5
33/33 [==============================] - 68s 2s/step - loss: 1.9010 - acc: 0.5232 - val_loss: 1.6159 - val_acc: 0.5172
Epoch 2/5
33/33 [==============================] - 61s 2s/step - loss: 1.2193 - acc: 0.5396 - val_loss: 2.6737 - val_acc: 0.5443
Epoch 3/5
33/33 [==============================] - 61s 2s/step - loss: 1.1393 - acc: 0.5637 - val_loss: 1.2649 - val_acc: 0.5113
Epoch 4/5
33/33 [==============================] - 61s 2s/step - loss: 1.1005 - acc: 0.5656 - val_loss: 2.3867 - val_acc: 0.5443

Epoch 00004: ReduceLROnPlateau reducing learning rate to 0.0005000000237487257.
Epoch 5/5
33/33 [==============================] - 61s 2s/step - loss: 0.8173 - acc: 0.6161 - val_loss: 0.8187 - val_acc: 0.6206

In [121]:
test_filenames = os.listdir("Downloads/input/test/test")
test_df = pd.DataFrame({
    'filename': test_filenames
})

In [122]:
nb_samples = test_df.shape[0]

In [123]:
nb_samples

12500

In [124]:
test_df.head()

    filename
0      1.jpg
1     10.jpg
2    100.jpg
3   1000.jpg
4  10000.jpg

In [125]:
test_gen = ImageDataGenerator(rescale=1./255)
test_generator = test_gen.flow_from_dataframe(
    test_df, 
    "Downloads/input/test/test/", 
    x_col='filename',
    y_col=None,
    class_mode=None,
    target_size=IMAGE_SIZE,
    batch_size=batch_size,
    shuffle=False
)

Found 12500 validated image filenames.

In [126]:
predict = model.predict_generator(test_generator, steps=np.ceil(nb_samples/batch_size))

In [127]:
predict

array([[0.17790066, 0.8220993 ],
       [0.5601273 , 0.43987274],
       [0.5055365 , 0.49446347],
       ...,
       [0.7096074 , 0.29039258],
       [0.50769395, 0.49230605],
       [0.7214751 , 0.27852485]], dtype=float32)

In [128]:
test_df['category'] = np.argmax(predict, axis=-1)

In [130]:
test_df['category'].head(10)

0    1
1    0
2    0
3    0
4    0
5    1
6    1
7    0
8    1
9    0
Name: category, dtype: int64

In [131]:
submission=pd.DataFrame({'id':test_df['filename'].str.split('.').str[0],'label':test_df['category']})
submission.to_csv('submission20.csv', index=False)

In [132]:
submission.head()

      id  label
0      1      1
1     10      0
2    100      0
3   1000      0
4  10000      0