In [5]:
from sklearn import datasets
from sklearn.neighbors import KNeighborsClassifier,KNeighborsRegressor
from sklearn.linear_model import LinearRegression,LogisticRegression,Ridge,Lasso
from sklearn.ensemble import RandomForestRegressor,  GradientBoostingRegressor
from sklearn.model_selection import train_test_split,cross_val_score,GridSearchCV
from sklearn.metrics import mean_squared_error
from sklearn.utils import shuffle
from sklearn.preprocessing import StandardScaler
from scipy.stats import mode
from sklearn.cluster import KMeans
from sklearn.manifold import TSNE
from sklearn.decomposition import PCA
from sklearn.pipeline import make_pipeline
from sklearn.svm import LinearSVC,LinearSVR,SVC,SVR
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [6]:
salary_pred=pd.read_csv("Downloads/Documents/sample_data.csv")

In [7]:
salary_pred.head()

,Unnamed: 0,Name,Email Id,Mobile No.,Industry,Resume Title,Key Skills,Work Experience,Current Employer,Current Salary,Current Location,Technical Specialist,Unnamed: 11
0,0,M. vel Manikandan,vel.manikandan@gmail.com,91-7899887094,"Manufacturing/Industrial, Construction/Cement...",QA/Qc civil engineer with 10 yrs,"concrete mix design.batching plant control,sit...",10,BL Kashyap & sons limited,"10,00,000 annually",Bengaluru/ Bangalore,Staff Process Engineer,NaN
1,1,GnanasekarVIVEK,vishavishal@gmail.com,91-8870579080,"Software Services, IT-Software, Telecom","Lead software Engineer 8 years exp in c, pytho...","linux,c,c++,Data structures,telecom ,ATCA,pyth...",8,Sunedison,"18,00,000 annually",Bengaluru/ Bangalore,Staff Process Engineer,NaN
2,2,Dilip Kumar,dilip.surendran@gmail.com,91-9986586474,"Software Services, Internet/Dot com/ISP",Senior Quality Engineer with 6.11yrs experience,"Manual Testing,Senior Test Engineer,Writing Te...",6,InEight,"9,27,000 annually",Bengaluru/ Bangalore,Staff Process Engineer,NaN
3,3,JAGDISH ROUT,jagdish.rout@yahoo.com,91-7259600554,Others,"8.4 years of Data Engineering exp in exadata,d...","DATASTAGE,ORACLE,SQL,PL/SQL,UNIX,NETEZA,EXADAT...",8,Harman,"10,80,000 annually",Bengaluru/ Bangalore,Staff Process Engineer,NaN
4,4,SANTHOSH KUMAR BHOOPATHI,santhu7159@gmail.com,91-7411442416,"Software Services, Internet/Dot com/ISP",6 yrs of exp. in S/w Quality Assurance and wor...,"Selenium Webdriver ,Core Java ,sql,Soap Ui ,We...",6,Cgi Information Systems And Management Consult...,"7,65,000 annually",Bengaluru/ Bangalore,Staff Process Engineer,NaN

In [8]:
salary_pred.tail()

,Unnamed: 0,Name,Email Id,Mobile No.,Industry,Resume Title,Key Skills,Work Experience,Current Employer,Current Salary,Current Location,Technical Specialist,Unnamed: 11
7995,7995,Yashwanth,puneeth.ssmp@gmail.com,91-9964096346,"Software Services, Internet/Dot com/ISP, IT-...",Automation/Manual Tester with 4+ years experience,"Java,Selenium Webdriver,Python,MySQL,Automatio...",4,Clarivate Analytics,"9,20,000 annually",Bengaluru/ Bangalore,Quality Engineer,NaN
7996,7996,PRADEEPA P,kaashu09@gmail.com,91-9566451977,Manufacturing/Industrial,"Process enginear ,Quality enginear , Quality a...","ASSEMBLY,ASSEMBLY LINE,CONFIDENT, DOS,FIFO,FME...",6,Bosch Ltd,"7,50,000 annually",Bengaluru/ Bangalore,Production engineer & Quality Engineer,NaN
7997,7997,VIVEK S,sureshkumarinbarajan@gmail.com,91-8144993623,"Manufacturing/Industrial, Automobiles/Auto Co...",Senior Quality Engineer,"man power handling,ISO 9001 ,PPAP ,Process Fme...",3,India Industries,"60,00,000 annually",Chennai,Senior Quality Engineer,NaN
7998,7998,Alauddin khan,sarathyraman21@gmail.com,91-9092096032,"Manufacturing/Industrial, Automobiles/Auto Co...",Quantity surveyor cum estimator and quality en...,"Quality control, Quantity surveying , Site Eng...",3,M S Engineering & Sevices,"9,60,000 annually",Gulbarga,Full Time Employed,NaN
7999,7999,MARINA E J,jayasoorya.kn@gmail.com,91-9600621339,"Manufacturing/Industrial, IT-Hardware/Network...",Product Quality Engineer 4yrs Exp,",Quality Analyst,Manual Testing,Sdlc,Manual & ...",4,Fresher,"29,00,000 annually",KERALA(Trivandrum),Fresher,NaN

In [9]:
salary_pred.shape

(8000, 13)

In [10]:
salary_pred.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 13 columns):
Unnamed: 0              8000 non-null int64
Name                    7997 non-null object
Email Id                7999 non-null object
Mobile No.              7999 non-null object
Industry                8000 non-null object
Resume Title            7992 non-null object
Key Skills              7999 non-null object
Work Experience         8000 non-null object
Current Employer        7853 non-null object
Current Salary          8000 non-null object
Current Location        7994 non-null object
Technical Specialist    8000 non-null object
Unnamed: 11             0 non-null float64
dtypes: float64(1), int64(1), object(11)
memory usage: 812.6+ KB

In [11]:
#fill=salary_pred['Name'].fillna(mode(salary_pred['Name']).mode[0],inplace=True)

In [12]:
salary_pred['Name']

0             M. vel Manikandan
1                GnanasekarVIVEK
2                    Dilip Kumar
3                   JAGDISH ROUT
4       SANTHOSH KUMAR BHOOPATHI
5                     Mann-Thapa
6                    JACOBTHOMAS
7                 Jagannath Bhat
8                     SIVARAMAN
9         Devendra Kumar Namdeo
10               PremkumarPillai
11                SAMEERSENAPATI
12               Kalpesh Malviya
13             RAGHU           Y
14                Abhijeet Singh
15               Riju Eyyappally
16               Deepthi Chundru
17                   Bhaskar T.R
18                  K.M. BHAVANI
19                     Sowmya HR
20               uthika gajghate
21              Lingaraja barera
22                Netra Jagadish
23                  Manikandan B
24                   Syed Faheem
25                    AVINASH BK
26                  Roshan Kumar
27                   Marimuthu L
28                     Yuvaraja
29               Amreeta Cherian
                  ...
7970                   Manu K R
7971                 N MADHUKAR
7972                       Ajay
7973     sivasaiteja seethiraju
7974                   venkatram
7975            Felix Nirmal dev
7976                M Raj Kumar
7977              GANESH BARAKER
7978            ameen-ameensaheb
7979                       K-raj
7980                Prakash Raja
7981               I.V.NISHANTH
7982          Shivanand Yadagude
7983             Vinoth kumar T
7984                virat visha
7985         Ramakrishna Eggati
7986                Veera  Kumar
7987            suhail salman h
7988                   SMITHA R
7989                  Arunkumar
7990                   YUVARAJ.G
7991               THANGAPANDI P
7992              ANISH PRAKASH
7993         KARTHIK KUMAR K.M.
7994                  anjinappav
7995                   Yashwanth
7996                 PRADEEPA P
7997                     VIVEK S
7998              Alauddin khan
7999                  MARINA E J
Name: Name, Length: 8000, dtype: object

In [13]:
salary_pred.describe()

       Unnamed: 0  Unnamed: 11
count  8000.00000          0.0
mean   3999.50000          NaN
std    2309.54541          NaN
min       0.00000          NaN
25%    1999.75000          NaN
50%    3999.50000          NaN
75%    5999.25000          NaN
max    7999.00000          NaN

In [14]:
colToRemove = ['Name','Mobile No.','Resume Title','Key Skills','Current Employer','Unnamed: 11']

In [15]:
salary_pred.drop(colToRemove, axis=1, inplace=True)

In [16]:
salary_pred.head()

,Unnamed: 0,Email Id,Industry,Work Experience,Current Salary,Current Location,Technical Specialist
0,0,vel.manikandan@gmail.com,"Manufacturing/Industrial, Construction/Cement...",10,"10,00,000 annually",Bengaluru/ Bangalore,Staff Process Engineer
1,1,vishavishal@gmail.com,"Software Services, IT-Software, Telecom",8,"18,00,000 annually",Bengaluru/ Bangalore,Staff Process Engineer
2,2,dilip.surendran@gmail.com,"Software Services, Internet/Dot com/ISP",6,"9,27,000 annually",Bengaluru/ Bangalore,Staff Process Engineer
3,3,jagdish.rout@yahoo.com,Others,8,"10,80,000 annually",Bengaluru/ Bangalore,Staff Process Engineer
4,4,santhu7159@gmail.com,"Software Services, Internet/Dot com/ISP",6,"7,65,000 annually",Bengaluru/ Bangalore,Staff Process Engineer

In [17]:
type(salary_pred['Industry'][0])

str

In [18]:
industryList = []
for i in range(salary_pred['Industry'].shape[0]):
    salary_pred['Industry'][i] = (str(salary_pred['Industry'][i])).split(',')

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [19]:
salary_pred.head()

,Unnamed: 0,Email Id,Industry,Work Experience,Current Salary,Current Location,Technical Specialist
0,0,vel.manikandan@gmail.com,"[Manufacturing/Industrial, Construction/Ceme...",10,"10,00,000 annually",Bengaluru/ Bangalore,Staff Process Engineer
1,1,vishavishal@gmail.com,"[Software Services, IT-Software, Telecom]",8,"18,00,000 annually",Bengaluru/ Bangalore,Staff Process Engineer
2,2,dilip.surendran@gmail.com,"[Software Services, Internet/Dot com/ISP]",6,"9,27,000 annually",Bengaluru/ Bangalore,Staff Process Engineer
3,3,jagdish.rout@yahoo.com,[Others],8,"10,80,000 annually",Bengaluru/ Bangalore,Staff Process Engineer
4,4,santhu7159@gmail.com,"[Software Services, Internet/Dot com/ISP]",6,"7,65,000 annually",Bengaluru/ Bangalore,Staff Process Engineer

In [20]:
salary_pred['Industry'].value_counts()

[Software Services,   Internet/Dot com/ISP,   IT-Software]                                                                                                                                                                                                                                                                                                                           817
[Software Services,   Internet/Dot com/ISP]                                                                                                                                                                                                                                                                                                                                          702
[Software Services,   IT-Software]                                                                                                                                                                                                                                                                                                                                                   369
[Manufacturing/Industrial,   Automobiles/Auto Component/Auto Ancillary]                                                                                                                                                                                                                                                                                                              351
[Others]                                                                                                                                                                                                                                                                                                                                                                             333
[Manufacturing/Industrial]                                                                                                                                                                                                                                                                                                                                                           237
[CRM/CallCentres/BPO/ITES/Med.Trans]                                                                                                                                                                                                                                                                                                                                                 206
[Manufacturing/Industrial,   Consumer Durables/FMCG,   Automobiles/Auto Component/Auto Ancillary]                                                                                                                                                                                                                                                                                    206
[Manufacturing/Industrial,   Marine/Aviation/Military/Mining/Shipping,   Automobiles/Auto Component/Auto Ancillary]                                                                                                                                                                                                                                                                  164
[Projects/Infrastructure/Power/Energy,   Petroleum/Oil and Gas/Power]                                                                                                                                                                                                                                                                                                                164
[Manufacturing/Industrial,   Construction/Cement/Metal/Steel/Iron]                                                                                                                                                                                                                                                                                                                   151
[Software Services,   Internet/Dot com/ISP,   IT-Hardware/Networking,   Telecom]                                                                                                                                                                                                                                                                                                     150
[Petroleum/Oil and Gas/Power]                                                                                                                                                                                                                                                                                                                                                        149
[Manufacturing/Industrial,   Projects/Infrastructure/Power/Energy,   Petroleum/Oil and Gas/Power]                                                                                                                                                                                                                                                                                    148
[Software Services]                                                                                                                                                                                                                                                                                                                                                                  134
[Internet/Dot com/ISP,   IT-Hardware/Networking,   Telecom]                                                                                                                                                                                                                                                                                                                          116
[Financial Services/Stockbroking,   CRM/CallCentres/BPO/ITES/Med.Trans]                                                                                                                                                                                                                                                                                                              109
[Financial Services/Stockbroking,   Banking]                                                                                                                                                                                                                                                                                                                                         105
[Apparel/Garments,   Manufacturing/Industrial,   Petrochemicals,   Petroleum/Oil and Gas/Power]                                                                                                                                                                                                                                                                                       99
[Consulting Services]                                                                                                                                                                                                                                                                                                                                                                 91
[Software Services,   Telecom]                                                                                                                                                                                                                                                                                                                                                        76
[Manufacturing/Industrial,   Biotechnology/Pharmaceutical/Medicine]                                                                                                                                                                                                                                                                                                                   76
[Manufacturing/Industrial,   IT-Hardware/Networking,   Telecom]                                                                                                                                                                                                                                                                                                                       72
[Software Services,   IT-Software,   Telecom]                                                                                                                                                                                                                                                                                                                                         71
[Manufacturing/Industrial,   Consumer Durables/FMCG]                                                                                                                                                                                                                                                                                                                                  70
[Software Services,   Internet/Dot com/ISP,   Telecom]                                                                                                                                                                                                                                                                                                                                58
[IT-Software]                                                                                                                                                                                                                                                                                                                                                                         57
[Financial Services/Stockbroking]                                                                                                                                                                                                                                                                                                                                                     56
[Banking]                                                                                                                                                                                                                                                                                                                                                                             55
[Engineering/Projects,   Consulting Services]                                                                                                                                                                                                                                                                                                                                         53
                                                                                                                                                                                                                                                                                                                                                                                    ...
[Entertainment/Media,   Software Services,   IT-Software]                                                                                                                                                                                                                                                                                                                              1
[Manufacturing/Industrial,   Educational/Training,   Automobiles/Auto Component/Auto Ancillary]                                                                                                                                                                                                                                                                                        1
[Manufacturing/Industrial,   Hotel/Travel/Tourism/Airlines/Hospitality,   IT-Hardware/Networking]                                                                                                                                                                                                                                                                                      1
[Manufacturing/Industrial,   CRM/CallCentres/BPO/ITES/Med.Trans,   Petroleum/Oil and Gas/Power]                                                                                                                                                                                                                                                                                        1
[Manufacturing/Industrial,   Construction/Cement/Metal/Steel/Iron,   Internet/Dot com/ISP,   IT-Hardware/Networking,   Telecom]                                                                                                                                                                                                                                                        1
[Research/Surveyor/MR,   Educational/Training,   Advertising/PR/Event Management]                                                                                                                                                                                                                                                                                                      1
[Manufacturing/Industrial,   CRM/CallCentres/BPO/ITES/Med.Trans,   Biotechnology/Pharmaceutical/Medicine]                                                                                                                                                                                                                                                                              1
[Entertainment/Media,   Consumer Durables/FMCG,   Retailing,   Advertising/PR/Event Management]                                                                                                                                                                                                                                                                                        1
[Entertainment/Media,   Software Services,   IT-Hardware/Networking,   IT-Software,   Advertising/PR/Event Management]                                                                                                                                                                                                                                                                 1
[Educational/Training,   Architecture/Interior Design]                                                                                                                                                                                                                                                                                                                                 1
[Others,   Projects/Infrastructure/Power/Energy]                                                                                                                                                                                                                                                                                                                                       1
[Accounting-Tax/Consulting,   IT-Hardware/Networking,   Manufacturing/Industrial]                                                                                                                                                                                                                                                                                                      1
[Engineering/Projects,   Manufacturing/Industrial,   Construction/Cement/Metal/Steel/Iron,   Consumer Durables/FMCG,   Automobiles/Auto Component/Auto Ancillary]                                                                                                                                                                                                                      1
[Manufacturing/Industrial,   Consumer Durables/FMCG,   Petrochemicals]                                                                                                                                                                                                                                                                                                                 1
[Research/Surveyor/MR,   Software Services,   Recruitment/Placement Agencies,   CRM/CallCentres/BPO/ITES/Med.Trans,   Financial Services/Stockbroking,   Healthcare,   Biotechnology/Pharmaceutical/Medicine,   Printing/Packaging,   IT-Hardware/Networking,   IT-Software,   Law/Legal Firms,   Advertising/PR/Event Management,   Engineering/Projects,   Consulting Services]      1
[Manufacturing/Industrial,   Consumer Durables/FMCG,   Automobiles/Auto Component/Auto Ancillary,   Warehousing]                                                                                                                                                                                                                                                                       1
[Manufacturing/Industrial,   Petrochemicals,   Petroleum/Oil and Gas/Power,   Banking]                                                                                                                                                                                                                                                                                                 1
[Entertainment/Media,   Others,   Advertising/PR/Event Management]                                                                                                                                                                                                                                                                                                                     1
[Manufacturing/Industrial,   Telecom,   Consulting Services]                                                                                                                                                                                                                                                                                                                           1
[Petrochemicals,   Apparel/Garments,   Manufacturing/Industrial]                                                                                                                                                                                                                                                                                                                       1
[Biotechnology/Pharmaceutical/Medicine,   Engineering/Projects,   Manufacturing/Industrial]                                                                                                                                                                                                                                                                                            1
[Manufacturing/Industrial,   Financial Services/Stockbroking,   Automobiles/Auto Component/Auto Ancillary]                                                                                                                                                                                                                                                                             1

In [21]:
salary_pred.shape

(8000, 7)

In [22]:
industryList = []
for i in range(salary_pred['Industry'].shape[0]):
    salary_pred['Industry'][i] = (str(salary_pred['Industry'][i])).split('/')[0]

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [23]:
salary_pred.head()

,Unnamed: 0,Email Id,Industry,Work Experience,Current Salary,Current Location,Technical Specialist
0,0,vel.manikandan@gmail.com,['Manufacturing,10,"10,00,000 annually",Bengaluru/ Bangalore,Staff Process Engineer
1,1,vishavishal@gmail.com,"['Software Services', ' IT-Software', ' Tele...",8,"18,00,000 annually",Bengaluru/ Bangalore,Staff Process Engineer
2,2,dilip.surendran@gmail.com,"['Software Services', ' Internet",6,"9,27,000 annually",Bengaluru/ Bangalore,Staff Process Engineer
3,3,jagdish.rout@yahoo.com,['Others'],8,"10,80,000 annually",Bengaluru/ Bangalore,Staff Process Engineer
4,4,santhu7159@gmail.com,"['Software Services', ' Internet",6,"7,65,000 annually",Bengaluru/ Bangalore,Staff Process Engineer

In [24]:
salary_pred['Industry'].value_counts()

['Manufacturing                                                  2364
['Software Services', '  Internet                                1821
['Software Services', '  IT-Software']                            369
['Others']                                                        333
['Engineering                                                     328
['Financial Services                                              318
['CRM                                                             266
['Internet                                                        190
['Projects                                                        178
['Apparel                                                         163
['Petroleum                                                       151
['Software Services']                                             134
['IT-Hardware                                                      94
['Consulting Services']                                            91
['Software Services', '  IT-Hardware                               81
['Software Services', '  Telecom']                                 76
['Software Services', '  IT-Software', '  Telecom']                71
['Software Services', '  CRM                                       65
['IT-Software']                                                    57
['Banking']                                                        55
['Software Services', '  Financial Services                        51
['Consulting Services', '  Financial Services                      37
['Real Estate']                                                    35
['Consumer Durables                                                34
['Research                                                         33
['Consulting Services', '  Software Services', '  Internet         33
['Consulting Services', '  CRM                                     32
['Entertainment                                                    32
['Construction                                                     25
['Software Services', '  Others', '  Internet                      24
                                                                 ...
['Software Services', '  Catering                                   1
['Consulting Services', '  Consumer Durables                        1
['Banking', '  CRM                                                  1
['Software Services', '  Printing                                   1
['Others', '  Manufacturing                                         1
['Petrochemicals', '  Biotechnology                                 1
['Consulting Services', '  Manufacturing                            1
['Retailing', '  Healthcare']                                       1
['Others', '  Advertising                                           1
['Software Services', '  IT-Software', '  Financial Services        1
['Government Sector', '  Advertising                                1
['Retailing', '  Architecture                                       1
['Government Sector', '  Hotel                                      1
['Banking', '  IT-Software']                                        1
['Consulting Services', '  Educational                              1
['Consulting Services', '  Architecture                             1
['Consulting Services', '  IT-Hardware                              1
['Others', '  Government Sector']                                   1
['Software Services', '  Consulting Services', '  Recruitment       1
['Software Services', '  Real Estate', '  Internet                  1
['Petrochemicals', '  Apparel                                       1
['Consulting Services', '  Software Services', '  IT-Hardware       1
['Banking', '  IT-Software', '  Insurance']                         1
['IT-Software', '  Petroleum                                        1
['Consulting Services', '  Warehousing']                            1
['NGO                                                               1
['Software Services', '  Healthcare', '  Biotechnology              1
['Software Services', '  Insurance', '  Telecom']                   1
['Government Sector', '  Projects                                   1
['Retailing', '  Warehousing']                                      1
Name: Industry, Length: 139, dtype: int64

In [25]:
industryList = []
for i in range(salary_pred['Industry'].shape[0]):
    salary_pred['Industry'][i] = (str(salary_pred['Industry'][i])).split('(')[0]

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [26]:
salary_pred['Industry'].value_counts()

['Manufacturing                                                  2364
['Software Services', '  Internet                                1821
['Software Services', '  IT-Software']                            369
['Others']                                                        333
['Engineering                                                     328
['Financial Services                                              318
['CRM                                                             266
['Internet                                                        190
['Projects                                                        178
['Apparel                                                         163
['Petroleum                                                       151
['Software Services']                                             134
['IT-Hardware                                                      94
['Consulting Services']                                            91
['Software Services', '  IT-Hardware                               81
['Software Services', '  Telecom']                                 76
['Software Services', '  IT-Software', '  Telecom']                71
['Software Services', '  CRM                                       65
['IT-Software']                                                    57
['Banking']                                                        55
['Software Services', '  Financial Services                        51
['Consulting Services', '  Financial Services                      37
['Real Estate']                                                    35
['Consumer Durables                                                34
['Research                                                         33
['Consulting Services', '  Software Services', '  Internet         33
['Consulting Services', '  CRM                                     32
['Entertainment                                                    32
['Construction                                                     25
['Software Services', '  Others', '  Internet                      24
                                                                 ...
['Software Services', '  Catering                                   1
['Consulting Services', '  Consumer Durables                        1
['Banking', '  CRM                                                  1
['Software Services', '  Printing                                   1
['Others', '  Manufacturing                                         1
['Petrochemicals', '  Biotechnology                                 1
['Consulting Services', '  Manufacturing                            1
['Retailing', '  Healthcare']                                       1
['Others', '  Advertising                                           1
['Software Services', '  IT-Software', '  Financial Services        1
['Government Sector', '  Advertising                                1
['Retailing', '  Architecture                                       1
['Government Sector', '  Hotel                                      1
['Banking', '  IT-Software']                                        1
['Consulting Services', '  Educational                              1
['Consulting Services', '  Architecture                             1
['Consulting Services', '  IT-Hardware                              1
['Others', '  Government Sector']                                   1
['Software Services', '  Consulting Services', '  Recruitment       1
['Software Services', '  Real Estate', '  Internet                  1
['Petrochemicals', '  Apparel                                       1
['Consulting Services', '  Software Services', '  IT-Hardware       1
['Banking', '  IT-Software', '  Insurance']                         1
['IT-Software', '  Petroleum                                        1
['Consulting Services', '  Warehousing']                            1
['NGO                                                               1
['Software Services', '  Healthcare', '  Biotechnology              1
['Software Services', '  Insurance', '  Telecom']                   1
['Government Sector', '  Projects                                   1
['Retailing', '  Warehousing']                                      1
Name: Industry, Length: 139, dtype: int64

In [27]:
salary_pred['Industry'] = salary_pred['Industry'].str.replace('rojects', 'Projects ')
salary_pred['Industry'] = salary_pred['Industry'].str.replace('Petrochemical s', 'Petrochemical')
salary_pred['Industry'] = salary_pred['Industry'].str.replace('IT Software : Software Products & Services', 'IT-Software')
salary_pred['Industry'] = salary_pred['Industry'].str.replace('Projects', 'Infrastructure')
salary_pred['Industry'] = salary_pred['Industry'].str.replace('Hotel', 'Hotel')
salary_pred['Industry'].value_counts()

['Manufacturing                                                  2364
['Software Services', '  Internet                                1821
['Software Services', '  IT-Software']                            369
['Others']                                                        333
['Engineering                                                     328
['Financial Services                                              318
['CRM                                                             266
['Internet                                                        190
['PInfrastructure                                                 178
['Apparel                                                         163
['Petroleum                                                       151
['Software Services']                                             134
['IT-Hardware                                                      94
['Consulting Services']                                            91
['Software Services', '  IT-Hardware                               81
['Software Services', '  Telecom']                                 76
['Software Services', '  IT-Software', '  Telecom']                71
['Software Services', '  CRM                                       65
['IT-Software']                                                    57
['Banking']                                                        55
['Software Services', '  Financial Services                        51
['Consulting Services', '  Financial Services                      37
['Real Estate']                                                    35
['Consumer Durables                                                34
['Research                                                         33
['Consulting Services', '  Software Services', '  Internet         33
['Consulting Services', '  CRM                                     32
['Entertainment                                                    32
['Construction                                                     25
['Software Services', '  Others', '  Internet                      24
                                                                 ...
['Software Services', '  IT-Software', '  Financial Services        1
['Others', '  Construction                                          1
['Software Services', '  Catering                                   1
['Others', '  Advertising                                           1
['Retailing', '  Healthcare']                                       1
['Consulting Services', '  Consumer Durables                        1
['Banking', '  CRM                                                  1
['Others', '  Defence', '  Security                                 1
['Banking', '  IT-Software']                                        1
['Real Estate', '  Educational                                      1
['Others', '  Government Sector']                                   1
['Consulting Services', '  Software Services', '  IT-Hardware       1
['Consulting Services', '  Warehousing']                            1
['Government Sector', '  PInfrastructure                            1
['NGO                                                               1
['Others', '  Manufacturing                                         1
['Software Services', '  Healthcare', '  Biotechnology              1
['Petrochemicals', '  Apparel                                       1
['Software Services', '  Real Estate', '  Internet                  1
['Consulting Services', '  Manufacturing                            1
['IT-Software', '  Petroleum                                        1
['Software Services', '  Insurance', '  Telecom']                   1
['Consulting Services', '  IT-Hardware                              1
['Software Services', '  Consulting Services', '  Recruitment       1
['Petrochemicals', '  Biotechnology                                 1
['Consulting Services', '  Architecture                             1
['Consulting Services', '  Educational                              1
['Real Estate', '  Law                                              1
['Consulting Services', '  Government Sector']                      1
['Consulting Services', '  Law                                      1
Name: Industry, Length: 139, dtype: int64

In [28]:
salary_pred.dtypes

Unnamed: 0               int64
Email Id                object
Industry                object
Work Experience         object
Current Salary          object
Current Location        object
Technical Specialist    object
dtype: object

In [29]:
# #months into year conversion
# for i in range(salary_pred.shape[0]):
#     if('months' in salary_pred['Work Experience'][i]):
#         print(salary_pred['Work Experience'][i])

In [30]:
salary_pred['Work Experience'] = salary_pred['Work Experience'].str.replace('6 months', '0.5 ')

In [31]:
type(salary_pred['Work Experience'][0])

str

In [32]:
salary_pred['Work Experience'] = salary_pred['Work Experience'].astype(float)

In [33]:
type(salary_pred['Work Experience'][0])

numpy.float64

In [34]:
salary_pred.head()

,Unnamed: 0,Email Id,Industry,Work Experience,Current Salary,Current Location,Technical Specialist
0,0,vel.manikandan@gmail.com,['Manufacturing,10.0,"10,00,000 annually",Bengaluru/ Bangalore,Staff Process Engineer
1,1,vishavishal@gmail.com,"['Software Services', ' IT-Software', ' Tele...",8.0,"18,00,000 annually",Bengaluru/ Bangalore,Staff Process Engineer
2,2,dilip.surendran@gmail.com,"['Software Services', ' Internet",6.0,"9,27,000 annually",Bengaluru/ Bangalore,Staff Process Engineer
3,3,jagdish.rout@yahoo.com,['Others'],8.0,"10,80,000 annually",Bengaluru/ Bangalore,Staff Process Engineer
4,4,santhu7159@gmail.com,"['Software Services', ' Internet",6.0,"7,65,000 annually",Bengaluru/ Bangalore,Staff Process Engineer

In [35]:
salary_pred['Current Salary'].value_counts()

18,00,000 annually    259
15,00,000 annually    258
14,00,000 annually    235
20,00,000 annually    225
13,00,000 annually    189
40,00,000 annually    179
16,00,000 annually    169
10,00,000 annually    148
17,00,000 annually    142
35,00,000 annually    141
25,00,000 annually    138
8,00,000 annually     138
7,00,000 annually     138
50,00,000 annually    129
36,00,000 annually    129
24,00,000 annually    122
32,00,000 annually    121
9,00,000 annually     120
19,00,000 annually    110
22,00,000 annually    106
12,00,000 annually    105
45,00,000 annually     96
13,50,000 annually     92
7,50,000 annually      88
21,00,000 annually     87
15,50,000 annually     79
11,00,000 annually     79
16,50,000 annually     78
8,50,000 annually      77
14,50,000 annually     75
                     ...
29,90,000 annually      1
36,20,000 annually      1
46,28,000 annually      1
47,80,000 annually      1
12,42,000 annually      1
19,29,000 annually      1
8,96,000 annually       1
34,80,000 annually      1
9,88,000 annually       1
8,26,000 annually       1
40,60,000 annually      1
45,15,000 annually      1
48,70,000 annually      1
15,64,000 annually      1
12,76,000 annually      1
30,78,000 annually      1
27,65,000 annually      1
35,75,000 annually      1
9,89,000 annually       1
31,60,000 annually      1
51,50,000 annually      1
12,09,000 annually      1
11,65,000 annually      1
8,48,000 annually       1
17,95,000 annually      1
43,10,000 annually      1
12,12,000 annually      1
7,29,000 annually       1
27,20,000 annually      1
10,21,000 annually      1
Name: Current Salary, Length: 936, dtype: int64

In [36]:
#Remove all the char except the numbers
salary_pred['Current Salary'] = salary_pred['Current Salary'].str.replace('annually','')

In [37]:
salary_pred['Current Salary'] = salary_pred['Current Salary'].str.replace(',','')

In [38]:
type(float(salary_pred['Current Salary'][1]))

float

In [39]:
salary_pred['Current Salary'].value_counts()

1800000     259
1500000     258
1400000     235
2000000     225
1300000     189
4000000     179
1600000     169
1000000     148
1700000     142
3500000     141
700000      138
800000      138
2500000     138
3600000     129
5000000     129
2400000     122
3200000     121
900000      120
1900000     110
2200000     106
1200000     105
4500000      96
1350000      92
750000       88
2100000      87
1100000      79
1550000      79
1650000      78
850000       77
1450000      75
           ...
809000        1
1031000       1
1308000       1
4320000       1
749000        1
1317000       1
1212000       1
3390000       1
4136000       1
964000        1
3455000       1
2290000       1
3230000       1
773000        1
2449000       1
1153000       1
322000        1
1696000       1
5030000       1
3701000       1
5422000       1
4550000       1
843000        1
3276000       1
5472000       1
1401000       1
1138000       1
3827000       1
1126000       1
1543000       1
Name: Current Salary, Length: 936, dtype: int64

In [40]:
salary_pred['Current Salary'] = salary_pred['Current Salary'].str.replace('\n', '')

In [41]:
salary_pred['Current Salary'].value_counts()

1800000     259
1500000     258
1400000     235
2000000     225
1300000     189
4000000     179
1600000     169
1000000     148
1700000     142
3500000     141
700000      138
800000      138
2500000     138
3600000     129
5000000     129
2400000     122
3200000     121
900000      120
1900000     110
2200000     106
1200000     105
4500000      96
1350000      92
750000       88
2100000      87
1100000      79
1550000      79
1650000      78
850000       77
1450000      75
           ...
809000        1
1031000       1
1308000       1
4320000       1
749000        1
1317000       1
1212000       1
3390000       1
4136000       1
964000        1
3455000       1
2290000       1
3230000       1
773000        1
2449000       1
1153000       1
322000        1
1696000       1
5030000       1
3701000       1
5422000       1
4550000       1
843000        1
3276000       1
5472000       1
1401000       1
1138000       1
3827000       1
1126000       1
1543000       1
Name: Current Salary, Length: 936, dtype: int64

In [42]:
salary_pred.isnull().sum()

Unnamed: 0              0
Email Id                1
Industry                0
Work Experience         0
Current Salary          0
Current Location        6
Technical Specialist    0
dtype: int64

In [43]:
type(salary_pred['Current Salary'][2])

str

In [44]:
# salary_pred['Current Salary'] = salary_pred['Current Salary'].str.replace('2000-02-16 00:00:00', '0')
# salary_pred['Current Salary'] = salary_pred['Current Salary'].str.replace('2000-03-25 00:00:00', '0')

In [45]:
for i in range(salary_pred.shape[0]):
    if(salary_pred['Current Salary'][i] == ''):
        print(i)

In [46]:
#Missing value
salary_pred['Current Salary'].fillna(0, inplace = True)

In [47]:
salary_pred['Current Salary'] = salary_pred['Current Salary'].astype(float)

In [48]:
salary_pred.dtypes

Unnamed: 0                int64
Email Id                 object
Industry                 object
Work Experience         float64
Current Salary          float64
Current Location         object
Technical Specialist     object
dtype: object

In [49]:
salary_pred.head(2)

,Unnamed: 0,Email Id,Industry,Work Experience,Current Salary,Current Location,Technical Specialist
0,0,vel.manikandan@gmail.com,['Manufacturing,10.0,1000000.0,Bengaluru/ Bangalore,Staff Process Engineer
1,1,vishavishal@gmail.com,"['Software Services', ' IT-Software', ' Tele...",8.0,1800000.0,Bengaluru/ Bangalore,Staff Process Engineer

In [50]:
salary_pred['Current Location'].value_counts()

Bengaluru/ Bangalore               6238
Pune                                648
Chennai                             207
Mumbai                               94
Hyderabad/ Secunderabad              87
Delhi                                53
Ahmedabad                            42
Coimbatore                           28
Gurgaon                              26
Noida/ Greater Noida                 24
Kolkata                              21
Dubai                                16
Pakistan                             16
Canada                               14
Abu Dhabi                            14
Dehradun                             13
Vadodara                             12
Cairo                                12
Hosur                                11
Faridabad                            11
OTHERS                               11
Algeria                              10
Visakhapatnam                        10
Malaysia                              7
Mysoru/ Mysore                        6
Gandhinagar                           6
Houston                               6
Muscat                                6
KUWAIT                                6
EGYPT                                 6
                                   ...
INTERNATIONAL(Tanzania)               1
Chittoor                              1
Parwanoo                              1
MADHYA PRADESH(Shahdol)               1
Sangareddy                            1
Ghaziabad                             1
Lonavala                              1
GULF/ MIDDLE EAST(kish)               1
Palakkad                              1
SAUDI ARABIA(Makkah)                  1
Ahmednagar                            1
Jeddah                                1
Kollam                                1
KERALA(Trivandrum)                    1
GOA( verna,goa)                       1
INTERNATIONAL(Stavanger Norway)       1
INTERNATIONAL(Azerbaijan)             1
INTERNATIONAL(ZULIA, VENEZUELA)       1
TAMIL NADU(CHENNAI)                   1
Ropar                                 1
US(Tampa)                             1
Mathura                               1
Baddi                                 1
INTERNATIONAL(Lagos, Nigeria)         1
Tuticorin                             1
Muktsar                               1
Patan                                 1
Ranchi                                1
Philippines                           1
Akola                                 1
Name: Current Location, Length: 226, dtype: int64

In [51]:
for i in range(salary_pred['Current Location'].shape[0]):
    salary_pred['Current Location'][i] = (str(salary_pred['Current Location'][i])).split('/')[0]
    if(i%1000 == 0):
        print(i)

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0
1000
2000
3000
4000
5000
6000
7000

In [52]:
salary_pred['Current Location'].value_counts()

Bengaluru                           6238
Pune                                 648
Chennai                              207
Mumbai                                94
Hyderabad                             87
Delhi                                 53
Ahmedabad                             42
Coimbatore                            28
Gurgaon                               26
Noida                                 24
Kolkata                               21
Pakistan                              16
Dubai                                 16
Canada                                14
Abu Dhabi                             14
Dehradun                              13
Cairo                                 12
Vadodara                              12
Hosur                                 11
OTHERS                                11
Faridabad                             11
Algeria                               10
Visakhapatnam                         10
Malaysia                               7
KUWAIT                                 6
Mysoru                                 6
Houston                                6
Muscat                                 6
nan                                    6
Gandhinagar                            6
                                    ...
Kollam                                 1
Kurnool                                1
Nadiad                                 1
Erode                                  1
Chittoor                               1
Burdwan                                1
Morocco                                1
US(Louisiana)                          1
Ras Al Khaimah                         1
Lonavala                               1
Palakkad                               1
SAUDI ARABIA(Makkah)                   1
Ahmednagar                             1
SAUDI ARABIA(Dhahran)                  1
KERALA(Trivandrum)                     1
Patan                                  1
Tirupati                               1
GOA( verna,goa)                        1
INTERNATIONAL(Azerbaijan)              1
KARNATAKA(Hosapete )                   1
Ropar                                  1
US(Tampa)                              1
INTERNATIONAL(Romania Timisoara)       1
Baddi                                  1
Ratlam                                 1
Bareilly                               1
Tuticorin                              1
MADHYA PRADESH(Shahdol)                1
Muktsar                                1
Akola                                  1
Name: Current Location, Length: 224, dtype: int64

In [53]:
for i in range(salary_pred['Current Location'].shape[0]):
    salary_pred['Current Location'][i] = (str(salary_pred['Current Location'][i])).split(',')[0]
    salary_pred['Current Location'][i] = (str(salary_pred['Current Location'][i])).split('(')[0]
    if(i%1000 == 0):
        print(i)

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

0
1000
2000
3000
4000
5000
6000
7000

In [54]:
salary_pred['Current Location'].value_counts()

Bengaluru        6238
Pune              648
Chennai           207
Mumbai             94
Hyderabad          87
Delhi              53
Ahmedabad          42
INTERNATIONAL      41
Coimbatore         28
Gurgaon            26
Noida              24
Kolkata            21
Pakistan           16
Dubai              16
Canada             14
Abu Dhabi          14
Dehradun           13
Vadodara           12
Cairo              12
Faridabad          11
Hosur              11
OTHERS             11
Visakhapatnam      10
Algeria            10
KUWAIT              7
Malaysia            7
nan                 6
Gandhinagar         6
Muscat              6
EGYPT               6
                 ...
Baddi               1
Tuticorin           1
Sangareddy          1
South Africa        1
Muktsar             1
Patan               1
CHHATTISGARH        1
Ranchi              1
Philippines         1
Singapore           1
Nadiad              1
Ahmednagar          1
Parwanoo            1
Palakkad            1
GOA                 1
Jeddah              1
Chandigarh          1
Tunisia             1
Mathura             1
Guwahati            1
Anantapur           1
UAE                 1
Erode               1
Chittoor            1
Satara              1
Mohali              1
Allahabad           1
New Zealand         1
Lonavala            1
Akola               1
Name: Current Location, Length: 173, dtype: int64

In [55]:
salary_pred.head()

,Unnamed: 0,Email Id,Industry,Work Experience,Current Salary,Current Location,Technical Specialist
0,0,vel.manikandan@gmail.com,['Manufacturing,10.0,1000000.0,Bengaluru,Staff Process Engineer
1,1,vishavishal@gmail.com,"['Software Services', ' IT-Software', ' Tele...",8.0,1800000.0,Bengaluru,Staff Process Engineer
2,2,dilip.surendran@gmail.com,"['Software Services', ' Internet",6.0,927000.0,Bengaluru,Staff Process Engineer
3,3,jagdish.rout@yahoo.com,['Others'],8.0,1080000.0,Bengaluru,Staff Process Engineer
4,4,santhu7159@gmail.com,"['Software Services', ' Internet",6.0,765000.0,Bengaluru,Staff Process Engineer

In [56]:
'Business Process Engineer'.lower()

'business process engineer'

In [57]:
salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.lower()

In [58]:
for i in range(salary_pred.shape[0]):
    words = str(salary_pred['Technical Specialist'][i]).lower().split()
    salary_pred['Technical Specialist'][i] = " ".join( words )

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [59]:
salary_pred = salary_pred[salary_pred['Technical Specialist'] != 'full time employed' ]
salary_pred= salary_pred[salary_pred['Technical Specialist'] != 'nan' ]
salary_pred = salary_pred[salary_pred['Technical Specialist'] != 'currently unemployed' ]

In [60]:
#Replace Sr to Senior
salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.replace('manager', 'project manager')
salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.replace('team lead', 'tech lead')
salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.replace('seniour', 'senior')
salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.replace('sr', 'senior')
salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.replace('Supervisor', 'supervisor')
salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.replace('Safety', 'safety')
salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.replace('senior project project manager', 'project manager')
salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.replace('project project manager', 'project manager')

salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.replace('senior ', '')
salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.replace('experienced ', '')
salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.replace('project project manager', 'project manager')
salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.replace('engineering project manager', 'project manager')

salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.replace('lead engineer', 'engineer')
salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.replace('project lead', 'tech lead')
salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.replace('project engineer', 'project manager')
salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.replace('lead engineer', 'engineer')
salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.replace('system engineer', 'engineer')

salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.replace('tech lead', 'technical leader')
#df['Designation'] = df['Designation'].str.replace('technical lead', 'technical leader')
salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.replace('system engineer', 'engineer')
salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.replace('assistant ', '')


salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.replace('technicalnical ', '')
salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.replace('program project manager', 'project manager')
salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.replace('leaderer', 'leader')
salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.replace('associate ', '')

In [61]:
salary_pred = salary_pred[salary_pred['Technical Specialist'] != 'associate' ]

In [62]:
salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.replace('software developer', 'software engineer')
salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.replace('hardware design engineer', 'hardware engineer')
salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.replace('general project manager - projects', 'project manager')

salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.replace('test technician', 'test engineer')
salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.replace('safety officer', 'software supervisor')
salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.replace(' design', '')
salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.replace('software supervisor', 'software engineer')
salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.replace('test lead', 'test engineer')

In [63]:
salary_pred['Technical Specialist'].value_counts()

staff process engineer                                       1500
process engineer                                             1500
network engineer                                             1460
quality engineer                                              944
reservoir engineer                                            941
project manager                                               164
technical leader                                              102
technical lead                                                 76
software engineer                                              61
consultant                                                     60
technical project manager                                      28
engineer                                                       20
test engineer                                                  15
solution architect                                             13
architect                                                      13
technical architect                                            13
lead consultant                                                13
principal consultant                                           11
module lead                                                    10
test project manager                                           10
qa engineer                                                    10
qa lead                                                        10
technical specialist                                            9
business analyst                                                8
supplier quality engineer                                       8
member technical staff                                          8
developer                                                       8
qa project manager                                              8
specialist                                                      7
quality assurance engineer                                      7
                                                             ...
software engineer consultant/ technical leader                  1
hr consultant                                                   1
quality inspection engineer                                     1
release engineer grade                                          1
project manager-structures                                      1
advisory system analyst                                         1
test automation lead                                            1
principal technical consultant                                  1
delivery project manager ,europe region                         1
delivery lead at nesle and os db migration hana certified       1
principal developer                                             1
java developer                                                  1
hvac project manager                                            1
technical test architect                                        1
software engineer - level 3                                     1
principal applications engineer                                 1
customer quality engineer                                       1
technical lead -qa                                              1
senior.corproate trainer                                        1
software engineer - php                                         1
qa engineer lead                                                1
field quality engineer,civil engineer                           1
senior. consultant (sap basis support/implementation)           1
quality assurance -graduate engineer trainee                    1
developer and test engineer                                     1
audio quality engineer                                          1
lead technical consultant                                       1
technical lead software development                             1
production/quality engineer                                     1
test engineer analyst                                           1
Name: Technical Specialist, Length: 715, dtype: int64

In [64]:
count = salary_pred['Technical Specialist'].value_counts()

In [65]:
count[count >= 100]

staff process engineer    1500
process engineer          1500
network engineer          1460
quality engineer           944
reservoir engineer         941
project manager            164
technical leader           102
Name: Technical Specialist, dtype: int64

In [66]:
dfFresh = salary_pred[salary_pred['Technical Specialist'].isin(count[count >= 100].index)]

In [67]:
dfFresh.shape

(6611, 7)

In [68]:
dfFresh['Technical Specialist'].value_counts()

staff process engineer    1500
process engineer          1500
network engineer          1460
quality engineer           944
reservoir engineer         941
project manager            164
technical leader           102
Name: Technical Specialist, dtype: int64

In [69]:
#Save to csv - temporary
salary_pred.to_csv("DataModel.csv",index=False)

In [70]:
x=salary_pred.drop(['Current Salary'],axis=1)
x

,Unnamed: 0,Email Id,Industry,Work Experience,Current Location,Technical Specialist
0,0,vel.manikandan@gmail.com,['Manufacturing,10.0,Bengaluru,staff process engineer
1,1,vishavishal@gmail.com,"['Software Services', ' IT-Software', ' Tele...",8.0,Bengaluru,staff process engineer
2,2,dilip.surendran@gmail.com,"['Software Services', ' Internet",6.0,Bengaluru,staff process engineer
3,3,jagdish.rout@yahoo.com,['Others'],8.0,Bengaluru,staff process engineer
4,4,santhu7159@gmail.com,"['Software Services', ' Internet",6.0,Bengaluru,staff process engineer
5,5,thapamann@gmail.com,"['Software Services', ' Internet",6.0,Bengaluru,staff process engineer
6,6,jacob_thomas1@yahoo.com,"['Software Services', ' Internet",24.0,Bengaluru,staff process engineer
7,7,jagannathmbhat@gmail.com,"['Software Services', ' Internet",5.0,Bengaluru,staff process engineer
8,8,siva.8u8@gmail.com,['Manufacturing,7.0,Bengaluru,staff process engineer
9,9,namdeo.devendra5@gmail.com,"['Software Services', ' Internet",5.0,Bengaluru,staff process engineer
10,10,prempc1976@gmail.com,['Engineering,10.0,Bengaluru,staff process engineer
11,11,sameer.senapati@gmail.com,['Software Services'],9.0,Bengaluru,staff process engineer
12,12,kalpi877@gmail.com,"['Software Services', ' IT-Software']",7.0,Bengaluru,staff process engineer
13,13,raghu.yvr@gmail.com,['Manufacturing,9.0,Bengaluru,staff process engineer
14,14,abhijeet2035@gmail.com,"['Software Services', ' IT-Software', ' Tele...",9.0,Bengaluru,staff process engineer
15,15,group4ep@gmail.com,['Manufacturing,7.0,Bengaluru,staff process engineer
16,16,deepthi2210@gmail.com,['Others'],8.0,Bengaluru,staff process engineer
17,17,bhaskartr@gmail.com,['Manufacturing,9.0,Bengaluru,staff process engineer
18,18,bhavanikm9@gmail.com,['Others'],7.0,Bengaluru,staff process engineer
19,19,sowmyarao_liboct@yahoo.com,['Architecture,14.0,Bengaluru,staff process engineer
20,20,uthika2004@gmail.com,['Internet,4.0,Bengaluru,staff process engineer
21,21,barera.lingaraja@gmail.com,['Manufacturing,15.0,Bengaluru,staff process engineer
22,22,netramca@gmail.com,"['Software Services', ' IT-Software']",7.0,Bengaluru,staff process engineer
23,23,manikandan.b34@gmail.com,['Internet,6.0,Bengaluru,staff process engineer
24,24,syedabdulfaheem@gmail.com,"['Consulting Services', ' Software Services']",16.0,Bengaluru,staff process engineer
25,25,avinashbk.021@gmail.com,['Others'],8.0,Bengaluru,staff process engineer
26,26,roshan.mishra09@gmail.com,"['Software Services', ' Internet",7.0,Bengaluru,staff process engineer
27,27,muthu.civil@gmail.com,['Engineering,16.0,Bengaluru,staff process engineer
28,28,yuve2591@gmail.com,"['Software Services', ' IT-Software']",8.0,Bengaluru,staff process engineer
29,29,amreetacherian@yahoo.com,"['Software Services', ' IT-Software', ' Tele...",6.0,Bengaluru,staff process engineer
...,...,...,...,...,...,...
7968,7968,rakesharamaiah@gmail.com,['Manufacturing,9.0,Bengaluru,supplier quality engineer
7969,7969,maheshj03121995@gmail.com,['Manufacturing,13.0,Bengaluru,quality engineer
7970,7970,likanraj@gmail.com,['Manufacturing,2.0,Bengaluru,quality engineer
7971,7971,nareshsana62@gmail.com,['Manufacturing,5.0,Bengaluru,quality engineer
7972,7972,gandiboina91@gmail.com,['Manufacturing,3.0,Chennai,fresher
7973,7973,anbu.vinoth9830@gmail.com,['Manufacturing,2.0,Bengaluru,get
7974,7974,naveenamd99@gmail.com,['Manufacturing,5.0,Chennai,quality engineer
7975,7975,thirumoorthygk@gmail.com,['Manufacturing,4.0,Coimbatore,quality engineer
7976,7976,bhimujkd@gmail.com,['Manufacturing,3.0,Hyderabad,quality engineer
7977,7977,vijumuddanna@gmail.com,['Manufacturing,1.0,Bengaluru,quality engineer
7978,7978,ga.umesha429@gmail.com,['Internet,15.0,Bengaluru,production supervisor
7979,7979,viveks9595@gmail.com,['Manufacturing,11.0,Bengaluru,quality engineer
7980,7980,chandru_bemech@rediffmail.com,['Manufacturing,3.0,Chennai,quality engineer
7981,7981,ashokkumar.kga@gmail.com,['Manufacturing,1.0,Chennai,quality engineer
7983,7983,chaitragpc@gmail.com,['Manufacturing,1.0,Chennai,quality engineer
7984,7984,sunsuni441@gmail.com,['Manufacturing,1.0,Bengaluru,quality engineer
7985,7985,sathishqa.kmf@gmail.com,['Manufacturing,1.0,Bengaluru,quality engineer
7986,7986,ssenthilsv@gmail.com,['Manufacturing,2.0,Chennai,trainee
7987,7987,srivignesh393@gmail.com,['Manufacturing,1.0,Bengaluru,quality engineer - piping
7988,7988,mdzahoorkhan@gmail.com,"['Software Services', ' Internet",13.0,Bengaluru,senior. quality engineer
7989,7989,venkatesh.v2410@gmail.com,"['Software Services', ' Internet",0.5,Chennai,fresher
7990,7990,rbk0407@gmail.com,"['Software Services', ' Internet",5.0,Chennai,quality engineer
7991,7991,d19santhosh@gmail.com,['Manufacturing,4.0,Erode,quality engineer
7992,7992,bharathguna.v@gmail.com,['Manufacturing,2.0,Chennai,production planning and control engineer
7993,7993,vinodkumarsubramanium@gmail.com,['Manufacturing,9.0,Bengaluru,quality engineer
7994,7994,prasanthsathian@gmail.com,['Manufacturing,10.0,Bengaluru,quality engineer
7995,7995,puneeth.ssmp@gmail.com,"['Software Services', ' Internet",4.0,Bengaluru,quality engineer
7996,7996,kaashu09@gmail.com,['Manufacturing,6.0,Bengaluru,production engineer & quality engineer
7997,7997,sureshkumarinbarajan@gmail.com,['Manufacturing,3.0,Chennai,quality engineer
7999,7999,jayasoorya.kn@gmail.com,['Manufacturing,4.0,KERALA,fresher

In [71]:
x = pd.DataFrame(salary_pred['Work Experience'])
x

      Work Experience
0                10.0
1                 8.0
2                 6.0
3                 8.0
4                 6.0
5                 6.0
6                24.0
7                 5.0
8                 7.0
9                 5.0
10               10.0
11                9.0
12                7.0
13                9.0
14                9.0
15                7.0
16                8.0
17                9.0
18                7.0
19               14.0
20                4.0
21               15.0
22                7.0
23                6.0
24               16.0
25                8.0
26                7.0
27               16.0
28                8.0
29                6.0
...               ...
7968              9.0
7969             13.0
7970              2.0
7971              5.0
7972              3.0
7973              2.0
7974              5.0
7975              4.0
7976              3.0
7977              1.0
7978             15.0
7979             11.0
7980              3.0
7981              1.0
7983              1.0
7984              1.0
7985              1.0
7986              2.0
7987              1.0
7988             13.0
7989              0.5
7990              5.0
7991              4.0
7992              2.0
7993              9.0
7994             10.0
7995              4.0
7996              6.0
7997              3.0
7999              4.0

[7909 rows x 1 columns]

In [72]:
y=salary_pred['Current Salary'].values
y

array([1000000., 1800000.,  927000., ...,  750000., 6000000., 2900000.])

In [73]:
model=GradientBoostingRegressor(n_estimators=3000, learning_rate=0.05,
                                   max_depth=4, max_features='sqrt',
                                   min_samples_leaf=15, min_samples_split=10, 
                                   loss='huber', random_state =5)

In [74]:
model.fit(x,y)

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
                          learning_rate=0.05, loss='huber', max_depth=4,
                          max_features='sqrt', max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=15, min_samples_split=10,
                          min_weight_fraction_leaf=0.0, n_estimators=3000,
                          n_iter_no_change=None, presort='auto', random_state=5,
                          subsample=1.0, tol=0.0001, validation_fraction=0.1,
                          verbose=0, warm_start=False)

In [75]:
model.score(x,y)

0.5111556555844973

In [76]:
sal1=model.predict(x)
sal1

array([1495463.5975332 , 1377763.35788068, 1225501.01834749, ...,
       1225501.01834749, 1431005.67822058, 1353999.93916557])

In [77]:
y

array([1000000., 1800000.,  927000., ...,  750000., 6000000., 2900000.])

In [78]:
# sub = pd.DataFrame()
# sub['Id'] = salary_Id
# sub['Current Salary'] = ensemble
# sub.to_csv('submission_27.csv',index=False)

In [79]:
# X = DfEncode.iloc[:,1:]
# y = DfEncode.iloc[:,0]

In [80]:
salary_Id=salary_pred['Unnamed: 0']
salary_Id.shape

(7909,)

In [81]:
type(salary_Id)

pandas.core.series.Series

In [82]:
# sub = pd.DataFrame({'Id': salary_Id,'Salary Prediction':ensemble})
# sub.to_csv('submission_27.csv',index=False)

# sub.head(10)

In [83]:
# x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)

# model.fit(x_train,y_train)

# model.score(x_test,y_test)

In [84]:
# sal1=model.predict(x_test)
# sal1

In [85]:
# y_test

In [86]:
# sal1=model.predict(x_train)
# sal1

In [87]:
# y_train

In [88]:
x_shuffle,y_shuffle=shuffle(x,y,random_state=42)

In [89]:
cross_val_score(GradientBoostingRegressor(),x_shuffle,y_shuffle,cv=5,n_jobs=-1,)

array([0.49855287, 0.53085244, 0.51101534, 0.51506435, 0.47800943])

In [90]:
np.mean(cross_val_score(GradientBoostingRegressor(),x_shuffle,y_shuffle,cv=5,n_jobs=-1,))

0.5066988859709046

In [91]:
scalar=StandardScaler()
scalar.fit(x_shuffle)
x_scaled=scalar.transform(x_shuffle)

In [92]:
scores=(cross_val_score(GradientBoostingRegressor(),x_scaled,y_shuffle,cv=5,n_jobs=-1))
print(scores)
np.mean(scores)

[0.49855287 0.53085244 0.51101534 0.51506435 0.47800943]

0.5066988859709046

In [93]:
scores=(cross_val_score(Lasso(alpha=0.01),x_scaled,y_shuffle,cv=5,n_jobs=-1))
print(scores)
np.mean(scores)

[0.3678066  0.33454995 0.36184749 0.38023024 0.30339536]

0.34956592858287916

In [94]:
scores=(cross_val_score(Ridge(alpha=1),x_scaled,y_shuffle,cv=5,n_jobs=-1))
print(scores)
np.mean(scores)

[0.36780833 0.33455636 0.36184218 0.38022131 0.303402  ]

0.34956603496310695

In [95]:
model2 = RandomForestRegressor(n_estimators=200,random_state=42,n_jobs=-1,max_depth=1,min_samples_leaf=1,max_features=1)

In [96]:
model2.fit(x,y)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=1,
                      max_features=1, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=200, n_jobs=-1,
                      oob_score=False, random_state=42, verbose=0,
                      warm_start=False)

In [97]:
model2.score(x,y)

0.48272119632666377

In [98]:
sal2=model2.predict(x)
sal2

array([1532241.60278951, 1532241.60278951, 1532241.60278951, ...,
       1532241.60278951, 1532241.60278951, 1532241.60278951])

In [99]:
y

array([1000000., 1800000.,  927000., ...,  750000., 6000000., 2900000.])

In [100]:
# x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)
# model2.fit(x_train,y_train)

# model2.score(x_test,y_test)

In [101]:
# sal2=model2.predict(x_test)
# sal2

In [102]:
# y_test

In [103]:
# sal2=model2.predict(x_train)
# sal2

In [104]:
# y_train

In [105]:
ensemble=sal1+sal2

In [106]:
sub = pd.DataFrame({'Id': salary_Id,'Salary Prediction':ensemble})
sub.to_csv('submission_28.csv',index=False)

In [134]:
sub.head(5)

   Id  Salary Prediction
0   0       3.027705e+06
1   1       2.910005e+06
2   2       2.757743e+06
3   3       2.910005e+06
4   4       2.757743e+06

In [135]:
import pickle

with open('model_pickle','wb') as f:
    pickle.dump(model,f)

In [136]:
with open('model_pickle','rb') as f:
   mp= pickle.load(f)

In [137]:
model.predict(x)               # model 1 that is gradientboostregresssor

array([1495463.5975332 , 1377763.35788068, 1225501.01834749, ...,
       1225501.01834749, 1431005.67822058, 1353999.93916557])

In [138]:
from sklearn.externals import joblib
joblib.dump(model2,'model_joblib')

['model_joblib']

In [139]:
mj=joblib.load('model_joblib')    # model 2 that is randomforest regressor
mj.predict(x)

array([1532241.60278951, 1532241.60278951, 1532241.60278951, ...,
       1532241.60278951, 1532241.60278951, 1532241.60278951])

In [133]:
import pyodbc
conn = pyodbc.connect("Driver={SQL Server};"
                       "Server=LAPTOP-ES1HTOJ1\AFTABSQL;"
                       "Database=Aftab;"
                       "Truseted_Connection=yes;")
cursor=conn.cursor()
cursor.execute('SELECT * FROM salary;')

for i in cursor:
    print(i)

In [128]:
import pyodbc
conn = pyodbc.connect("Driver={SQL Server};"
                       "Server=LAPTOP-ES1HTOJ1\AFTABSQL;"
                       "Database=Aftab;"
                       "Truseted_Connection=yes;")
cursor=conn.cursor()
sql = 'insert into [dbo].[salary](PersonID,salaryPrediction) VALUES (7,2.834590e+06)'
if(cursor is not None):
    cursor.execute(sql)
    cursor.commit()
    cursor.close()
    conn.close()

In [125]:
import pyodbc
conn = pyodbc.connect("Driver={SQL Server};"
                       "Server=LAPTOP-ES1HTOJ1\AFTABSQL;"
                       "Database=Aftab;"
                       "Truseted_Connection=yes;")
cursor=conn.cursor()
cursor.execute("insert into [dbo].[salary](PersonID,salaryPrediction) VALUES (1,60278951)")
cursor.commit()
cursor.close()

In [ ]:
import pyodbc
conn = pyodbc.connect("Driver={SQL Server};"
                       "Server=LAPTOP-ES1HTOJ1\AFTABSQL;"
                       "Database=Aftab;"
                       "Truseted_Connection=yes;")
cursor=conn.cursor()
cursor.execute('SELECT * FROM salary;')
r=cursor.fetchall()
for row in r:
    print(row[1])

In [132]:
import pyodbc
conn = pyodbc.connect("Driver={SQL Server};"
                       "Server=LAPTOP-ES1HTOJ1\AFTABSQL;"
                       "Database=Aftab;"
                       "Truseted_Connection=yes;")
cursor=conn.cursor()
sql = 'DELETE FROM [dbo].[salary] WHERE PersonID=0'
if(cursor is not None):
    cursor.execute(sql)
    cursor.commit()
    cursor.close()
    conn.close()