In [1]:
from sklearn import datasets
from sklearn.neighbors import KNeighborsClassifier,KNeighborsRegressor
from sklearn.linear_model import LinearRegression,LogisticRegression,Ridge,Lasso
from sklearn.ensemble import RandomForestRegressor,  GradientBoostingRegressor
from sklearn.model_selection import train_test_split,cross_val_score,GridSearchCV
from sklearn.metrics import mean_squared_error
from sklearn.utils import shuffle
from sklearn.preprocessing import StandardScaler
from scipy.stats import mode
from sklearn.cluster import KMeans
from sklearn.manifold import TSNE
from sklearn.decomposition import PCA
from sklearn.pipeline import make_pipeline
from sklearn.svm import LinearSVC,LinearSVR,SVC,SVR
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
salary_pred=pd.read_csv("Downloads/Documents/sample_data.csv")

In [3]:
salary_pred.head()

,Unnamed: 0,Name,Email Id,Mobile No.,Industry,Resume Title,Key Skills,Work Experience,Current Employer,Current Salary,Current Location,Technical Specialist,Unnamed: 11
0,0,M. vel Manikandan,vel.manikandan@gmail.com,91-7899887094,"Manufacturing/Industrial, Construction/Cement...",QA/Qc civil engineer with 10 yrs,"concrete mix design.batching plant control,sit...",10,BL Kashyap & sons limited,"10,00,000 annually",Bengaluru/ Bangalore,Staff Process Engineer,NaN
1,1,GnanasekarVIVEK,vishavishal@gmail.com,91-8870579080,"Software Services, IT-Software, Telecom","Lead software Engineer 8 years exp in c, pytho...","linux,c,c++,Data structures,telecom ,ATCA,pyth...",8,Sunedison,"18,00,000 annually",Bengaluru/ Bangalore,Staff Process Engineer,NaN
2,2,Dilip Kumar,dilip.surendran@gmail.com,91-9986586474,"Software Services, Internet/Dot com/ISP",Senior Quality Engineer with 6.11yrs experience,"Manual Testing,Senior Test Engineer,Writing Te...",6,InEight,"9,27,000 annually",Bengaluru/ Bangalore,Staff Process Engineer,NaN
3,3,JAGDISH ROUT,jagdish.rout@yahoo.com,91-7259600554,Others,"8.4 years of Data Engineering exp in exadata,d...","DATASTAGE,ORACLE,SQL,PL/SQL,UNIX,NETEZA,EXADAT...",8,Harman,"10,80,000 annually",Bengaluru/ Bangalore,Staff Process Engineer,NaN
4,4,SANTHOSH KUMAR BHOOPATHI,santhu7159@gmail.com,91-7411442416,"Software Services, Internet/Dot com/ISP",6 yrs of exp. in S/w Quality Assurance and wor...,"Selenium Webdriver ,Core Java ,sql,Soap Ui ,We...",6,Cgi Information Systems And Management Consult...,"7,65,000 annually",Bengaluru/ Bangalore,Staff Process Engineer,NaN

In [4]:
salary_pred.tail()

,Unnamed: 0,Name,Email Id,Mobile No.,Industry,Resume Title,Key Skills,Work Experience,Current Employer,Current Salary,Current Location,Technical Specialist,Unnamed: 11
7995,7995,Yashwanth,puneeth.ssmp@gmail.com,91-9964096346,"Software Services, Internet/Dot com/ISP, IT-...",Automation/Manual Tester with 4+ years experience,"Java,Selenium Webdriver,Python,MySQL,Automatio...",4,Clarivate Analytics,"9,20,000 annually",Bengaluru/ Bangalore,Quality Engineer,NaN
7996,7996,PRADEEPA P,kaashu09@gmail.com,91-9566451977,Manufacturing/Industrial,"Process enginear ,Quality enginear , Quality a...","ASSEMBLY,ASSEMBLY LINE,CONFIDENT, DOS,FIFO,FME...",6,Bosch Ltd,"7,50,000 annually",Bengaluru/ Bangalore,Production engineer & Quality Engineer,NaN
7997,7997,VIVEK S,sureshkumarinbarajan@gmail.com,91-8144993623,"Manufacturing/Industrial, Automobiles/Auto Co...",Senior Quality Engineer,"man power handling,ISO 9001 ,PPAP ,Process Fme...",3,India Industries,"60,00,000 annually",Chennai,Senior Quality Engineer,NaN
7998,7998,Alauddin khan,sarathyraman21@gmail.com,91-9092096032,"Manufacturing/Industrial, Automobiles/Auto Co...",Quantity surveyor cum estimator and quality en...,"Quality control, Quantity surveying , Site Eng...",3,M S Engineering & Sevices,"9,60,000 annually",Gulbarga,Full Time Employed,NaN
7999,7999,MARINA E J,jayasoorya.kn@gmail.com,91-9600621339,"Manufacturing/Industrial, IT-Hardware/Network...",Product Quality Engineer 4yrs Exp,",Quality Analyst,Manual Testing,Sdlc,Manual & ...",4,Fresher,"29,00,000 annually",KERALA(Trivandrum),Fresher,NaN

In [5]:
salary_pred.shape

(8000, 13)

In [6]:
salary_pred.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 13 columns):
Unnamed: 0              8000 non-null int64
Name                    7997 non-null object
Email Id                7999 non-null object
Mobile No.              7999 non-null object
Industry                8000 non-null object
Resume Title            7992 non-null object
Key Skills              7999 non-null object
Work Experience         8000 non-null object
Current Employer        7853 non-null object
Current Salary          8000 non-null object
Current Location        7994 non-null object
Technical Specialist    8000 non-null object
Unnamed: 11             0 non-null float64
dtypes: float64(1), int64(1), object(11)
memory usage: 812.6+ KB

In [7]:
#fill=salary_pred['Name'].fillna(mode(salary_pred['Name']).mode[0],inplace=True)

In [8]:
salary_pred['Name']

0             M. vel Manikandan
1                GnanasekarVIVEK
2                    Dilip Kumar
3                   JAGDISH ROUT
4       SANTHOSH KUMAR BHOOPATHI
5                     Mann-Thapa
6                    JACOBTHOMAS
7                 Jagannath Bhat
8                     SIVARAMAN
9         Devendra Kumar Namdeo
10               PremkumarPillai
11                SAMEERSENAPATI
12               Kalpesh Malviya
13             RAGHU           Y
14                Abhijeet Singh
15               Riju Eyyappally
16               Deepthi Chundru
17                   Bhaskar T.R
18                  K.M. BHAVANI
19                     Sowmya HR
20               uthika gajghate
21              Lingaraja barera
22                Netra Jagadish
23                  Manikandan B
24                   Syed Faheem
25                    AVINASH BK
26                  Roshan Kumar
27                   Marimuthu L
28                     Yuvaraja
29               Amreeta Cherian
                  ...
7970                   Manu K R
7971                 N MADHUKAR
7972                       Ajay
7973     sivasaiteja seethiraju
7974                   venkatram
7975            Felix Nirmal dev
7976                M Raj Kumar
7977              GANESH BARAKER
7978            ameen-ameensaheb
7979                       K-raj
7980                Prakash Raja
7981               I.V.NISHANTH
7982          Shivanand Yadagude
7983             Vinoth kumar T
7984                virat visha
7985         Ramakrishna Eggati
7986                Veera  Kumar
7987            suhail salman h
7988                   SMITHA R
7989                  Arunkumar
7990                   YUVARAJ.G
7991               THANGAPANDI P
7992              ANISH PRAKASH
7993         KARTHIK KUMAR K.M.
7994                  anjinappav
7995                   Yashwanth
7996                 PRADEEPA P
7997                     VIVEK S
7998              Alauddin khan
7999                  MARINA E J
Name: Name, Length: 8000, dtype: object

In [9]:
salary_pred.describe()

       Unnamed: 0  Unnamed: 11
count  8000.00000          0.0
mean   3999.50000          NaN
std    2309.54541          NaN
min       0.00000          NaN
25%    1999.75000          NaN
50%    3999.50000          NaN
75%    5999.25000          NaN
max    7999.00000          NaN

In [10]:
# salary_Id=salary_pred['Unnamed: 0']
# salary_Id.shape

In [11]:
colToRemove = ['Name','Mobile No.','Resume Title','Key Skills','Current Employer','Unnamed: 11']

In [12]:
salary_pred.drop(colToRemove, axis=1, inplace=True)

In [13]:
salary_pred.head()

,Unnamed: 0,Email Id,Industry,Work Experience,Current Salary,Current Location,Technical Specialist
0,0,vel.manikandan@gmail.com,"Manufacturing/Industrial, Construction/Cement...",10,"10,00,000 annually",Bengaluru/ Bangalore,Staff Process Engineer
1,1,vishavishal@gmail.com,"Software Services, IT-Software, Telecom",8,"18,00,000 annually",Bengaluru/ Bangalore,Staff Process Engineer
2,2,dilip.surendran@gmail.com,"Software Services, Internet/Dot com/ISP",6,"9,27,000 annually",Bengaluru/ Bangalore,Staff Process Engineer
3,3,jagdish.rout@yahoo.com,Others,8,"10,80,000 annually",Bengaluru/ Bangalore,Staff Process Engineer
4,4,santhu7159@gmail.com,"Software Services, Internet/Dot com/ISP",6,"7,65,000 annually",Bengaluru/ Bangalore,Staff Process Engineer

In [14]:
type(salary_pred['Industry'][0])

str

In [15]:
industryList = []
for i in range(salary_pred['Industry'].shape[0]):
    salary_pred['Industry'][i] = (str(salary_pred['Industry'][i])).split(',')

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [16]:
salary_pred.head()

,Unnamed: 0,Email Id,Industry,Work Experience,Current Salary,Current Location,Technical Specialist
0,0,vel.manikandan@gmail.com,"[Manufacturing/Industrial, Construction/Ceme...",10,"10,00,000 annually",Bengaluru/ Bangalore,Staff Process Engineer
1,1,vishavishal@gmail.com,"[Software Services, IT-Software, Telecom]",8,"18,00,000 annually",Bengaluru/ Bangalore,Staff Process Engineer
2,2,dilip.surendran@gmail.com,"[Software Services, Internet/Dot com/ISP]",6,"9,27,000 annually",Bengaluru/ Bangalore,Staff Process Engineer
3,3,jagdish.rout@yahoo.com,[Others],8,"10,80,000 annually",Bengaluru/ Bangalore,Staff Process Engineer
4,4,santhu7159@gmail.com,"[Software Services, Internet/Dot com/ISP]",6,"7,65,000 annually",Bengaluru/ Bangalore,Staff Process Engineer

In [17]:
salary_pred['Industry'].value_counts()

[Software Services,   Internet/Dot com/ISP,   IT-Software]                                                                                                                                                                                                                                                                                                                           817
[Software Services,   Internet/Dot com/ISP]                                                                                                                                                                                                                                                                                                                                          702
[Software Services,   IT-Software]                                                                                                                                                                                                                                                                                                                                                   369
[Manufacturing/Industrial,   Automobiles/Auto Component/Auto Ancillary]                                                                                                                                                                                                                                                                                                              351
[Others]                                                                                                                                                                                                                                                                                                                                                                             333
[Manufacturing/Industrial]                                                                                                                                                                                                                                                                                                                                                           237
[CRM/CallCentres/BPO/ITES/Med.Trans]                                                                                                                                                                                                                                                                                                                                                 206
[Manufacturing/Industrial,   Consumer Durables/FMCG,   Automobiles/Auto Component/Auto Ancillary]                                                                                                                                                                                                                                                                                    206
[Manufacturing/Industrial,   Marine/Aviation/Military/Mining/Shipping,   Automobiles/Auto Component/Auto Ancillary]                                                                                                                                                                                                                                                                  164
[Projects/Infrastructure/Power/Energy,   Petroleum/Oil and Gas/Power]                                                                                                                                                                                                                                                                                                                164
[Manufacturing/Industrial,   Construction/Cement/Metal/Steel/Iron]                                                                                                                                                                                                                                                                                                                   151
[Software Services,   Internet/Dot com/ISP,   IT-Hardware/Networking,   Telecom]                                                                                                                                                                                                                                                                                                     150
[Petroleum/Oil and Gas/Power]                                                                                                                                                                                                                                                                                                                                                        149
[Manufacturing/Industrial,   Projects/Infrastructure/Power/Energy,   Petroleum/Oil and Gas/Power]                                                                                                                                                                                                                                                                                    148
[Software Services]                                                                                                                                                                                                                                                                                                                                                                  134
[Internet/Dot com/ISP,   IT-Hardware/Networking,   Telecom]                                                                                                                                                                                                                                                                                                                          116
[Financial Services/Stockbroking,   CRM/CallCentres/BPO/ITES/Med.Trans]                                                                                                                                                                                                                                                                                                              109
[Financial Services/Stockbroking,   Banking]                                                                                                                                                                                                                                                                                                                                         105
[Apparel/Garments,   Manufacturing/Industrial,   Petrochemicals,   Petroleum/Oil and Gas/Power]                                                                                                                                                                                                                                                                                       99
[Consulting Services]                                                                                                                                                                                                                                                                                                                                                                 91
[Software Services,   Telecom]                                                                                                                                                                                                                                                                                                                                                        76
[Manufacturing/Industrial,   Biotechnology/Pharmaceutical/Medicine]                                                                                                                                                                                                                                                                                                                   76
[Manufacturing/Industrial,   IT-Hardware/Networking,   Telecom]                                                                                                                                                                                                                                                                                                                       72
[Software Services,   IT-Software,   Telecom]                                                                                                                                                                                                                                                                                                                                         71
[Manufacturing/Industrial,   Consumer Durables/FMCG]                                                                                                                                                                                                                                                                                                                                  70
[Software Services,   Internet/Dot com/ISP,   Telecom]                                                                                                                                                                                                                                                                                                                                58
[IT-Software]                                                                                                                                                                                                                                                                                                                                                                         57
[Financial Services/Stockbroking]                                                                                                                                                                                                                                                                                                                                                     56
[Banking]                                                                                                                                                                                                                                                                                                                                                                             55
[Engineering/Projects,   Consulting Services]                                                                                                                                                                                                                                                                                                                                         53
                                                                                                                                                                                                                                                                                                                                                                                    ...
[Entertainment/Media,   Software Services,   IT-Software]                                                                                                                                                                                                                                                                                                                              1
[Manufacturing/Industrial,   Educational/Training,   Automobiles/Auto Component/Auto Ancillary]                                                                                                                                                                                                                                                                                        1
[Manufacturing/Industrial,   Hotel/Travel/Tourism/Airlines/Hospitality,   IT-Hardware/Networking]                                                                                                                                                                                                                                                                                      1
[Manufacturing/Industrial,   CRM/CallCentres/BPO/ITES/Med.Trans,   Petroleum/Oil and Gas/Power]                                                                                                                                                                                                                                                                                        1
[Manufacturing/Industrial,   Construction/Cement/Metal/Steel/Iron,   Internet/Dot com/ISP,   IT-Hardware/Networking,   Telecom]                                                                                                                                                                                                                                                        1
[Research/Surveyor/MR,   Educational/Training,   Advertising/PR/Event Management]                                                                                                                                                                                                                                                                                                      1
[Manufacturing/Industrial,   CRM/CallCentres/BPO/ITES/Med.Trans,   Biotechnology/Pharmaceutical/Medicine]                                                                                                                                                                                                                                                                              1
[Entertainment/Media,   Consumer Durables/FMCG,   Retailing,   Advertising/PR/Event Management]                                                                                                                                                                                                                                                                                        1
[Entertainment/Media,   Software Services,   IT-Hardware/Networking,   IT-Software,   Advertising/PR/Event Management]                                                                                                                                                                                                                                                                 1
[Educational/Training,   Architecture/Interior Design]                                                                                                                                                                                                                                                                                                                                 1
[Others,   Projects/Infrastructure/Power/Energy]                                                                                                                                                                                                                                                                                                                                       1
[Accounting-Tax/Consulting,   IT-Hardware/Networking,   Manufacturing/Industrial]                                                                                                                                                                                                                                                                                                      1
[Engineering/Projects,   Manufacturing/Industrial,   Construction/Cement/Metal/Steel/Iron,   Consumer Durables/FMCG,   Automobiles/Auto Component/Auto Ancillary]                                                                                                                                                                                                                      1
[Manufacturing/Industrial,   Consumer Durables/FMCG,   Petrochemicals]                                                                                                                                                                                                                                                                                                                 1
[Research/Surveyor/MR,   Software Services,   Recruitment/Placement Agencies,   CRM/CallCentres/BPO/ITES/Med.Trans,   Financial Services/Stockbroking,   Healthcare,   Biotechnology/Pharmaceutical/Medicine,   Printing/Packaging,   IT-Hardware/Networking,   IT-Software,   Law/Legal Firms,   Advertising/PR/Event Management,   Engineering/Projects,   Consulting Services]      1
[Manufacturing/Industrial,   Consumer Durables/FMCG,   Automobiles/Auto Component/Auto Ancillary,   Warehousing]                                                                                                                                                                                                                                                                       1
[Manufacturing/Industrial,   Petrochemicals,   Petroleum/Oil and Gas/Power,   Banking]                                                                                                                                                                                                                                                                                                 1
[Entertainment/Media,   Others,   Advertising/PR/Event Management]                                                                                                                                                                                                                                                                                                                     1
[Manufacturing/Industrial,   Telecom,   Consulting Services]                                                                                                                                                                                                                                                                                                                           1
[Petrochemicals,   Apparel/Garments,   Manufacturing/Industrial]                                                                                                                                                                                                                                                                                                                       1
[Biotechnology/Pharmaceutical/Medicine,   Engineering/Projects,   Manufacturing/Industrial]                                                                                                                                                                                                                                                                                            1
[Manufacturing/Industrial,   Financial Services/Stockbroking,   Automobiles/Auto Component/Auto Ancillary]                                                                                                                                                                                                                                                                             1

In [18]:
salary_pred.shape

(8000, 7)

In [19]:
industryList = []
for i in range(salary_pred['Industry'].shape[0]):
    salary_pred['Industry'][i] = (str(salary_pred['Industry'][i])).split('/')[0]

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [20]:
salary_pred.head()

,Unnamed: 0,Email Id,Industry,Work Experience,Current Salary,Current Location,Technical Specialist
0,0,vel.manikandan@gmail.com,['Manufacturing,10,"10,00,000 annually",Bengaluru/ Bangalore,Staff Process Engineer
1,1,vishavishal@gmail.com,"['Software Services', ' IT-Software', ' Tele...",8,"18,00,000 annually",Bengaluru/ Bangalore,Staff Process Engineer
2,2,dilip.surendran@gmail.com,"['Software Services', ' Internet",6,"9,27,000 annually",Bengaluru/ Bangalore,Staff Process Engineer
3,3,jagdish.rout@yahoo.com,['Others'],8,"10,80,000 annually",Bengaluru/ Bangalore,Staff Process Engineer
4,4,santhu7159@gmail.com,"['Software Services', ' Internet",6,"7,65,000 annually",Bengaluru/ Bangalore,Staff Process Engineer

In [21]:
salary_pred['Industry'].value_counts()

['Manufacturing                                                  2364
['Software Services', '  Internet                                1821
['Software Services', '  IT-Software']                            369
['Others']                                                        333
['Engineering                                                     328
['Financial Services                                              318
['CRM                                                             266
['Internet                                                        190
['Projects                                                        178
['Apparel                                                         163
['Petroleum                                                       151
['Software Services']                                             134
['IT-Hardware                                                      94
['Consulting Services']                                            91
['Software Services', '  IT-Hardware                               81
['Software Services', '  Telecom']                                 76
['Software Services', '  IT-Software', '  Telecom']                71
['Software Services', '  CRM                                       65
['IT-Software']                                                    57
['Banking']                                                        55
['Software Services', '  Financial Services                        51
['Consulting Services', '  Financial Services                      37
['Real Estate']                                                    35
['Consumer Durables                                                34
['Research                                                         33
['Consulting Services', '  Software Services', '  Internet         33
['Consulting Services', '  CRM                                     32
['Entertainment                                                    32
['Construction                                                     25
['Software Services', '  Others', '  Internet                      24
                                                                 ...
['Banking', '  IT-Software', '  Insurance']                         1
['Software Services', '  Consulting Services', '  Recruitment       1
['Petrochemicals', '  Apparel                                       1
['Retailing', '  Warehousing']                                      1
['Others', '  Advertising                                           1
['Others', '  Government Sector']                                   1
['Real Estate', '  Advertising                                      1
['Consulting Services', '  Government Sector']                      1
['Consulting Services', '  Manufacturing                            1
['NGO                                                               1
['Healthcare', '  Insurance']                                       1
['Real Estate', '  Law                                              1
['Consulting Services', '  IT-Hardware                              1
['Consulting Services', '  Warehousing']                            1
['Software Services', '  Real Estate', '  Internet                  1
['Government Sector', '  Projects                                   1
['Consulting Services', '  Consumer Durables                        1
['Retailing', '  Architecture                                       1
['Software Services', '  IT-Software', '  Financial Services        1
['Others', '  Manufacturing                                         1
['Software Services', '  Catering                                   1
['Software Services', '  Printing                                   1
['IT-Software', '  Petroleum                                        1
['Consulting Services', '  Law                                      1
['Government Sector', '  Hotel                                      1
['Software Services', '  Insurance', '  Telecom']                   1
['Government Sector', '  Defence']                                  1
['Others', '  Construction                                          1
['Petrochemicals', '  Biotechnology                                 1
['Consulting Services', '  Software Services', '  IT-Hardware       1
Name: Industry, Length: 139, dtype: int64

In [22]:
industryList = []
for i in range(salary_pred['Industry'].shape[0]):
    salary_pred['Industry'][i] = (str(salary_pred['Industry'][i])).split('(')[0]

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [23]:
salary_pred['Industry'].value_counts()

['Manufacturing                                                  2364
['Software Services', '  Internet                                1821
['Software Services', '  IT-Software']                            369
['Others']                                                        333
['Engineering                                                     328
['Financial Services                                              318
['CRM                                                             266
['Internet                                                        190
['Projects                                                        178
['Apparel                                                         163
['Petroleum                                                       151
['Software Services']                                             134
['IT-Hardware                                                      94
['Consulting Services']                                            91
['Software Services', '  IT-Hardware                               81
['Software Services', '  Telecom']                                 76
['Software Services', '  IT-Software', '  Telecom']                71
['Software Services', '  CRM                                       65
['IT-Software']                                                    57
['Banking']                                                        55
['Software Services', '  Financial Services                        51
['Consulting Services', '  Financial Services                      37
['Real Estate']                                                    35
['Consumer Durables                                                34
['Research                                                         33
['Consulting Services', '  Software Services', '  Internet         33
['Consulting Services', '  CRM                                     32
['Entertainment                                                    32
['Construction                                                     25
['Software Services', '  Others', '  Internet                      24
                                                                 ...
['Banking', '  IT-Software', '  Insurance']                         1
['Software Services', '  Consulting Services', '  Recruitment       1
['Petrochemicals', '  Apparel                                       1
['Retailing', '  Warehousing']                                      1
['Others', '  Advertising                                           1
['Others', '  Government Sector']                                   1
['Real Estate', '  Advertising                                      1
['Consulting Services', '  Government Sector']                      1
['Consulting Services', '  Manufacturing                            1
['NGO                                                               1
['Healthcare', '  Insurance']                                       1
['Real Estate', '  Law                                              1
['Consulting Services', '  IT-Hardware                              1
['Consulting Services', '  Warehousing']                            1
['Software Services', '  Real Estate', '  Internet                  1
['Government Sector', '  Projects                                   1
['Consulting Services', '  Consumer Durables                        1
['Retailing', '  Architecture                                       1
['Software Services', '  IT-Software', '  Financial Services        1
['Others', '  Manufacturing                                         1
['Software Services', '  Catering                                   1
['Software Services', '  Printing                                   1
['IT-Software', '  Petroleum                                        1
['Consulting Services', '  Law                                      1
['Government Sector', '  Hotel                                      1
['Software Services', '  Insurance', '  Telecom']                   1
['Government Sector', '  Defence']                                  1
['Others', '  Construction                                          1
['Petrochemicals', '  Biotechnology                                 1
['Consulting Services', '  Software Services', '  IT-Hardware       1
Name: Industry, Length: 139, dtype: int64

In [24]:
salary_pred['Industry'] = salary_pred['Industry'].str.replace('rojects', 'Projects ')
salary_pred['Industry'] = salary_pred['Industry'].str.replace('Petrochemical s', 'Petrochemical')
salary_pred['Industry'] = salary_pred['Industry'].str.replace('IT Software : Software Products & Services', 'IT-Software')
salary_pred['Industry'] = salary_pred['Industry'].str.replace('Projects', 'Infrastructure')
salary_pred['Industry'] = salary_pred['Industry'].str.replace('Hotel', 'Hotel')
salary_pred['Industry'].value_counts()

['Manufacturing                                                  2364
['Software Services', '  Internet                                1821
['Software Services', '  IT-Software']                            369
['Others']                                                        333
['Engineering                                                     328
['Financial Services                                              318
['CRM                                                             266
['Internet                                                        190
['PInfrastructure                                                 178
['Apparel                                                         163
['Petroleum                                                       151
['Software Services']                                             134
['IT-Hardware                                                      94
['Consulting Services']                                            91
['Software Services', '  IT-Hardware                               81
['Software Services', '  Telecom']                                 76
['Software Services', '  IT-Software', '  Telecom']                71
['Software Services', '  CRM                                       65
['IT-Software']                                                    57
['Banking']                                                        55
['Software Services', '  Financial Services                        51
['Consulting Services', '  Financial Services                      37
['Real Estate']                                                    35
['Consumer Durables                                                34
['Consulting Services', '  Software Services', '  Internet         33
['Research                                                         33
['Entertainment                                                    32
['Consulting Services', '  CRM                                     32
['Construction                                                     25
['Software Services', '  Others', '  Internet                      24
                                                                 ...
['Real Estate', '  Banking']                                        1
['Others', '  Government Sector']                                   1
['Banking', '  IT-Software']                                        1
['Others', '  Advertising                                           1
['Retailing', '  Warehousing']                                      1
['Petrochemicals', '  Apparel                                       1
['Software Services', '  Healthcare', '  Biotechnology              1
['Banking', '  CRM                                                  1
['Others', '  Construction                                          1
['Government Sector', '  Defence']                                  1
['Software Services', '  Printing                                   1
['Software Services', '  Insurance', '  Telecom']                   1
['Government Sector', '  Hotel                                      1
['Consulting Services', '  Law                                      1
['Retailing', '  Healthcare']                                       1
['Petrochemicals', '  Biotechnology                                 1
['Software Services', '  Consulting Services', '  Recruitment       1
['Banking', '  IT-Software', '  Insurance']                         1
['IT-Software', '  Petroleum                                        1
['Software Services', '  Catering                                   1
['Consulting Services', '  Warehousing']                            1
['Government Sector', '  PInfrastructure                            1
['Others', '  Manufacturing                                         1
['Software Services', '  IT-Software', '  Financial Services        1
['Retailing', '  Architecture                                       1
['Others', '  Defence', '  Security                                 1
['Consulting Services', '  Consumer Durables                        1
['Government Sector', '  Advertising                                1
['Software Services', '  Real Estate', '  Internet                  1
['Consulting Services', '  Software Services', '  IT-Hardware       1
Name: Industry, Length: 139, dtype: int64

In [25]:
salary_pred.dtypes

Unnamed: 0               int64
Email Id                object
Industry                object
Work Experience         object
Current Salary          object
Current Location        object
Technical Specialist    object
dtype: object

In [26]:
# #months into year conversion
# for i in range(salary_pred.shape[0]):
#     if('months' in salary_pred['Work Experience'][i]):
#         print(salary_pred['Work Experience'][i])

In [27]:
salary_pred['Work Experience'] = salary_pred['Work Experience'].str.replace('6 months', '0.5 ')

In [28]:
type(salary_pred['Work Experience'][0])

str

In [29]:
salary_pred['Work Experience'] = salary_pred['Work Experience'].astype(float)

In [30]:
type(salary_pred['Work Experience'][0])

numpy.float64

In [31]:
salary_pred.head()

,Unnamed: 0,Email Id,Industry,Work Experience,Current Salary,Current Location,Technical Specialist
0,0,vel.manikandan@gmail.com,['Manufacturing,10.0,"10,00,000 annually",Bengaluru/ Bangalore,Staff Process Engineer
1,1,vishavishal@gmail.com,"['Software Services', ' IT-Software', ' Tele...",8.0,"18,00,000 annually",Bengaluru/ Bangalore,Staff Process Engineer
2,2,dilip.surendran@gmail.com,"['Software Services', ' Internet",6.0,"9,27,000 annually",Bengaluru/ Bangalore,Staff Process Engineer
3,3,jagdish.rout@yahoo.com,['Others'],8.0,"10,80,000 annually",Bengaluru/ Bangalore,Staff Process Engineer
4,4,santhu7159@gmail.com,"['Software Services', ' Internet",6.0,"7,65,000 annually",Bengaluru/ Bangalore,Staff Process Engineer

In [32]:
salary_pred['Current Salary'].value_counts()

18,00,000 annually    259
15,00,000 annually    258
14,00,000 annually    235
20,00,000 annually    225
13,00,000 annually    189
40,00,000 annually    179
16,00,000 annually    169
10,00,000 annually    148
17,00,000 annually    142
35,00,000 annually    141
8,00,000 annually     138
7,00,000 annually     138
25,00,000 annually    138
36,00,000 annually    129
50,00,000 annually    129
24,00,000 annually    122
32,00,000 annually    121
9,00,000 annually     120
19,00,000 annually    110
22,00,000 annually    106
12,00,000 annually    105
45,00,000 annually     96
13,50,000 annually     92
7,50,000 annually      88
21,00,000 annually     87
15,50,000 annually     79
11,00,000 annually     79
16,50,000 annually     78
8,50,000 annually      77
14,50,000 annually     75
                     ...
22,78,000 annually      1
17,47,000 annually      1
8,58,000 annually       1
10,36,000 annually      1
52,70,000 annually      1
31,68,000 annually      1
39,21,000 annually      1
7,67,000 annually       1
11,47,000 annually      1
32,10,000 annually      1
39,70,000 annually      1
48,15,000 annually      1
8,72,000 annually       1
38,05,000 annually      1
7,96,000 annually       1
9,92,000 annually       1
12,42,000 annually      1
28,40,000 annually      1
45,50,000 annually      1
7,39,000 annually       1
44,95,000 annually      1
43,91,000 annually      1
25,29,000 annually      1
10,77,000 annually      1
10,31,000 annually      1
7,72,000 annually       1
17,40,000 annually      1
12,21,000 annually      1
11,88,000 annually      1
10,21,000 annually      1
Name: Current Salary, Length: 936, dtype: int64

In [33]:
#Remove all the char except the numbers
salary_pred['Current Salary'] = salary_pred['Current Salary'].str.replace('annually','')

In [34]:
salary_pred['Current Salary'] = salary_pred['Current Salary'].str.replace(',','')

In [35]:
type(float(salary_pred['Current Salary'][1]))

float

In [36]:
salary_pred['Current Salary'].value_counts()

1800000     259
1500000     258
1400000     235
2000000     225
1300000     189
4000000     179
1600000     169
1000000     148
1700000     142
3500000     141
700000      138
800000      138
2500000     138
5000000     129
3600000     129
2400000     122
3200000     121
900000      120
1900000     110
2200000     106
1200000     105
4500000      96
1350000      92
750000       88
2100000      87
1100000      79
1550000      79
1650000      78
850000       77
1450000      75
           ...
3114000       1
3325000       1
1014000       1
1003000       1
1165000       1
1394000       1
4425000       1
834000        1
3230000       1
1929000       1
4495000       1
4169000       1
3495000       1
1352000       1
1085000       1
2990000       1
4850000       1
1082000       1
5350000       1
1093000       1
1412000       1
1114000       1
2285000       1
4545000       1
4320000       1
3632000       1
4720000       1
1841000       1
952000        1
3785000       1
Name: Current Salary, Length: 936, dtype: int64

In [37]:
salary_pred['Current Salary'] = salary_pred['Current Salary'].str.replace('\n', '')

In [38]:
salary_pred['Current Salary'].value_counts()

1800000     259
1500000     258
1400000     235
2000000     225
1300000     189
4000000     179
1600000     169
1000000     148
1700000     142
3500000     141
700000      138
800000      138
2500000     138
5000000     129
3600000     129
2400000     122
3200000     121
900000      120
1900000     110
2200000     106
1200000     105
4500000      96
1350000      92
750000       88
2100000      87
1100000      79
1550000      79
1650000      78
850000       77
1450000      75
           ...
3114000       1
3325000       1
1014000       1
1003000       1
1165000       1
1394000       1
4425000       1
834000        1
3230000       1
1929000       1
4495000       1
4169000       1
3495000       1
1352000       1
1085000       1
2990000       1
4850000       1
1082000       1
5350000       1
1093000       1
1412000       1
1114000       1
2285000       1
4545000       1
4320000       1
3632000       1
4720000       1
1841000       1
952000        1
3785000       1
Name: Current Salary, Length: 936, dtype: int64

In [39]:
salary_pred.isnull().sum()

Unnamed: 0              0
Email Id                1
Industry                0
Work Experience         0
Current Salary          0
Current Location        6
Technical Specialist    0
dtype: int64

In [40]:
type(salary_pred['Current Salary'][2])

str

In [41]:
# salary_pred['Current Salary'] = salary_pred['Current Salary'].str.replace('2000-02-16 00:00:00', '0')
# salary_pred['Current Salary'] = salary_pred['Current Salary'].str.replace('2000-03-25 00:00:00', '0')

In [42]:
for i in range(salary_pred.shape[0]):
    if(salary_pred['Current Salary'][i] == ''):
        print(i)

In [43]:
#Missing value
salary_pred['Current Salary'].fillna(0, inplace = True)

In [44]:
# salary_pred['Current Salary'][29463] = '0'
# salary_pred['Current Salary'][29605] = '0'

In [45]:
salary_pred['Current Salary'] = salary_pred['Current Salary'].astype(float)

In [46]:
salary_pred.dtypes

Unnamed: 0                int64
Email Id                 object
Industry                 object
Work Experience         float64
Current Salary          float64
Current Location         object
Technical Specialist     object
dtype: object

In [47]:
salary_pred.head(2)

,Unnamed: 0,Email Id,Industry,Work Experience,Current Salary,Current Location,Technical Specialist
0,0,vel.manikandan@gmail.com,['Manufacturing,10.0,1000000.0,Bengaluru/ Bangalore,Staff Process Engineer
1,1,vishavishal@gmail.com,"['Software Services', ' IT-Software', ' Tele...",8.0,1800000.0,Bengaluru/ Bangalore,Staff Process Engineer

In [48]:
salary_pred['Current Location'].value_counts()

Bengaluru/ Bangalore                   6238
Pune                                    648
Chennai                                 207
Mumbai                                   94
Hyderabad/ Secunderabad                  87
Delhi                                    53
Ahmedabad                                42
Coimbatore                               28
Gurgaon                                  26
Noida/ Greater Noida                     24
Kolkata                                  21
Pakistan                                 16
Dubai                                    16
Abu Dhabi                                14
Canada                                   14
Dehradun                                 13
Vadodara                                 12
Cairo                                    12
Hosur                                    11
Faridabad                                11
OTHERS                                   11
Visakhapatnam                            10
Algeria                                  10
Malaysia                                  7
Houston                                   6
EGYPT                                     6
Gandhinagar                               6
KUWAIT                                    6
Mysoru/ Mysore                            6
Pondicherry/ Puducherry                   6
                                       ...
KERALA(Trivandrum)                        1
INTERNATIONAL(Buenos Aires)               1
Akola                                     1
Tuticorin                                 1
KARNATAKA(Bijapur)                        1
Muktsar                                   1
UK                                        1
TAMIL NADU(ARAKKONAM)                     1
INTERNATIONAL(Bogota Colombia)            1
Roorkee                                   1
Mohali                                    1
INTERNATIONAL(ArgentinBuenos Aires)       1
INTERNATIONAL(Jakrata)                    1
Patan                                     1
INTERNATIONAL(Austria)                    1
Ajman                                     1
Parwanoo                                  1
INTERNATIONAL(Tanzania)                   1
Cuddalore                                 1
Guwahati                                  1
Jammu                                     1
Lucknow                                   1
BIHAR                                     1
SAUDI ARABIA(Dhahran)                     1
Ajmer                                     1
GULF/ MIDDLE EAST(kish)                   1
INTERNATIONAL(OHIO Columbus)              1
US-Pennsylvania(state college)            1
INTERNATIONAL(Romania)                    1
INTERNATIONAL(Beijing)                    1
Name: Current Location, Length: 226, dtype: int64

In [49]:
for i in range(salary_pred['Current Location'].shape[0]):
    salary_pred['Current Location'][i] = (str(salary_pred['Current Location'][i])).split('/')[0]
    if(i%1000 == 0):
        print(i)

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0
1000
2000
3000
4000
5000
6000
7000

In [50]:
salary_pred['Current Location'].value_counts()

Bengaluru                        6238
Pune                              648
Chennai                           207
Mumbai                             94
Hyderabad                          87
Delhi                              53
Ahmedabad                          42
Coimbatore                         28
Gurgaon                            26
Noida                              24
Kolkata                            21
Pakistan                           16
Dubai                              16
Canada                             14
Abu Dhabi                          14
Dehradun                           13
Cairo                              12
Vadodara                           12
Hosur                              11
Faridabad                          11
OTHERS                             11
Algeria                            10
Visakhapatnam                      10
Malaysia                            7
KUWAIT                              6
Mysoru                              6
Houston                             6
Gandhinagar                         6
nan                                 6
Muscat                              6
                                 ...
INTERNATIONAL(OHIO Columbus)        1
Ajmer                               1
SAUDI ARABIA(Dhahran)               1
BIHAR                               1
Jammu                               1
Guwahati                            1
Cuddalore                           1
INTERNATIONAL(Tanzania)             1
INTERNATIONAL(Austria)              1
INTERNATIONAL(Sucre Carupano)       1
RAJASTHAN(Banswara)                 1
Ras Al Khaimah                      1
Akola                               1
Kota                                1
Vellore                             1
INTERNATIONAL(Ghana)                1
Chittoor                            1
INTERNATIONAL(NON)                  1
Kalol                               1
South Africa                        1
GOA( verna,goa)                     1
Erode                               1
Sangareddy                          1
Lonavala                            1
Ranchi                              1
Bilaspur                            1
Anand                               1
MADHYA PRADESH(Shahdol)             1
INTERNATIONAL(Libya)                1
Raipur                              1
Name: Current Location, Length: 224, dtype: int64

In [51]:
for i in range(salary_pred['Current Location'].shape[0]):
    salary_pred['Current Location'][i] = (str(salary_pred['Current Location'][i])).split(',')[0]
    salary_pred['Current Location'][i] = (str(salary_pred['Current Location'][i])).split('(')[0]
    if(i%1000 == 0):
        print(i)

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

0
1000
2000
3000
4000
5000
6000
7000

In [52]:
salary_pred['Current Location'].value_counts()

Bengaluru         6238
Pune               648
Chennai            207
Mumbai              94
Hyderabad           87
Delhi               53
Ahmedabad           42
INTERNATIONAL       41
Coimbatore          28
Gurgaon             26
Noida               24
Kolkata             21
Pakistan            16
Dubai               16
Canada              14
Abu Dhabi           14
Dehradun            13
Cairo               12
Vadodara            12
Hosur               11
Faridabad           11
OTHERS              11
Algeria             10
Visakhapatnam       10
Malaysia             7
KUWAIT               7
Mysoru               6
EGYPT                6
Pondicherry          6
Muscat               6
                  ...
BIHAR                1
Ajmer                1
Ranchi               1
Bilaspur             1
Anand                1
Erode                1
Ras Al Khaimah       1
Bhubaneshwar         1
GOA                  1
Ropar                1
KERALA               1
South Africa         1
Parwanoo             1
Mohali               1
Raipur               1
Palakkad             1
Lucknow              1
Baddi                1
Ajman                1
Bareilly             1
Tunisia              1
Patna                1
Kota                 1
Vellore              1
Chittoor             1
Muktsar              1
UK                   1
Kalol                1
Roorkee              1
New Zealand          1
Name: Current Location, Length: 173, dtype: int64

In [53]:
# salary_pred['Current Location'] = salary_pred['Current Location'].str.replace('nan', 'Bengaluru')
# salary_pred['Current Location'].value_counts()

In [54]:
#drop all the rows having count less than 50

In [55]:
salary_pred.head()

,Unnamed: 0,Email Id,Industry,Work Experience,Current Salary,Current Location,Technical Specialist
0,0,vel.manikandan@gmail.com,['Manufacturing,10.0,1000000.0,Bengaluru,Staff Process Engineer
1,1,vishavishal@gmail.com,"['Software Services', ' IT-Software', ' Tele...",8.0,1800000.0,Bengaluru,Staff Process Engineer
2,2,dilip.surendran@gmail.com,"['Software Services', ' Internet",6.0,927000.0,Bengaluru,Staff Process Engineer
3,3,jagdish.rout@yahoo.com,['Others'],8.0,1080000.0,Bengaluru,Staff Process Engineer
4,4,santhu7159@gmail.com,"['Software Services', ' Internet",6.0,765000.0,Bengaluru,Staff Process Engineer

In [56]:
'Business Process Engineer'.lower()

'business process engineer'

In [57]:
salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.lower()

In [58]:
for i in range(salary_pred.shape[0]):
    words = str(salary_pred['Technical Specialist'][i]).lower().split()
    salary_pred['Technical Specialist'][i] = " ".join( words )

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [59]:
salary_pred = salary_pred[salary_pred['Technical Specialist'] != 'full time employed' ]
salary_pred= salary_pred[salary_pred['Technical Specialist'] != 'nan' ]
salary_pred = salary_pred[salary_pred['Technical Specialist'] != 'currently unemployed' ]

In [60]:
#Replace Sr to Senior
salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.replace('manager', 'project manager')
salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.replace('team lead', 'tech lead')
salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.replace('seniour', 'senior')
salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.replace('sr', 'senior')
salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.replace('Supervisor', 'supervisor')
salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.replace('Safety', 'safety')
salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.replace('senior project project manager', 'project manager')
salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.replace('project project manager', 'project manager')

salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.replace('senior ', '')
salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.replace('experienced ', '')
salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.replace('project project manager', 'project manager')
salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.replace('engineering project manager', 'project manager')

salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.replace('lead engineer', 'engineer')
salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.replace('project lead', 'tech lead')
salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.replace('project engineer', 'project manager')
salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.replace('lead engineer', 'engineer')
salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.replace('system engineer', 'engineer')

salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.replace('tech lead', 'technical leader')
#df['Designation'] = df['Designation'].str.replace('technical lead', 'technical leader')
salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.replace('system engineer', 'engineer')
salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.replace('assistant ', '')


salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.replace('technicalnical ', '')
salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.replace('program project manager', 'project manager')
salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.replace('leaderer', 'leader')
salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.replace('associate ', '')

In [61]:
salary_pred = salary_pred[salary_pred['Technical Specialist'] != 'associate' ]

In [62]:
salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.replace('software developer', 'software engineer')
salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.replace('hardware design engineer', 'hardware engineer')
salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.replace('general project manager - projects', 'project manager')

salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.replace('test technician', 'test engineer')
salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.replace('safety officer', 'software supervisor')
salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.replace(' design', '')
salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.replace('software supervisor', 'software engineer')
salary_pred['Technical Specialist'] = salary_pred['Technical Specialist'].str.replace('test lead', 'test engineer')

In [63]:
salary_pred['Technical Specialist'].value_counts()

staff process engineer                                         1500
process engineer                                               1500
network engineer                                               1460
quality engineer                                                944
reservoir engineer                                              941
project manager                                                 164
technical leader                                                102
technical lead                                                   76
software engineer                                                61
consultant                                                       60
technical project manager                                        28
engineer                                                         20
test engineer                                                    15
lead consultant                                                  13
technical architect                                              13
architect                                                        13
solution architect                                               13
principal consultant                                             11
qa engineer                                                      10
test project manager                                             10
qa lead                                                          10
module lead                                                      10
technical specialist                                              9
qa project manager                                                8
developer                                                         8
member technical staff                                            8
business analyst                                                  8
supplier quality engineer                                         8
specialist                                                        7
quality assurance engineer                                        7
                                                               ...
ui specialist                                                     1
dev ops engineer                                                  1
project manager/technical leader                                  1
senior/engineer                                                   1
delivery lead at nesle and os db migration hana certified         1
technical head                                                    1
process engineer, department of relamination                      1
solutioner e2e group                                              1
lead process                                                      1
technical lead(sap)                                               1
program and project manager                                       1
head - supply chain (planning, warehouse & logistics).            1
location head corporate salary                                    1
android developer                                                 1
supplier quality-associate                                        1
it principal consultant                                           1
platform level 2                                                  1
profile of engineer (big data) with 11+ years of experience       1
senior. tech specialist, systems engineering                      1
information technology project manager                            1
application development analyst                                   1
process and quality engineer                                      1
specialist - quality control                                      1
management consultant                                             1
development & quality engineer                                    1
technical lead in automation testing                              1
database administrator senior                                     1
prof. development                                                 1
consultant engineer in test                                       1
agile coach                                                       1
Name: Technical Specialist, Length: 715, dtype: int64

In [64]:
count = salary_pred['Technical Specialist'].value_counts()

In [65]:
count[count >= 100]

staff process engineer    1500
process engineer          1500
network engineer          1460
quality engineer           944
reservoir engineer         941
project manager            164
technical leader           102
Name: Technical Specialist, dtype: int64

In [66]:
dfFresh = salary_pred[salary_pred['Technical Specialist'].isin(count[count >= 100].index)]

In [67]:
dfFresh.shape

(6611, 7)

In [68]:
dfFresh['Technical Specialist'].value_counts()

staff process engineer    1500
process engineer          1500
network engineer          1460
quality engineer           944
reservoir engineer         941
project manager            164
technical leader           102
Name: Technical Specialist, dtype: int64

In [69]:
#Save to csv - temporary
salary_pred.to_csv("DataModel.csv",index=False)

In [70]:
x=salary_pred.drop(['Current Salary'],axis=1)

In [71]:
x = pd.DataFrame(salary_pred['Work Experience'])
x

      Work Experience
0                10.0
1                 8.0
2                 6.0
3                 8.0
4                 6.0
5                 6.0
6                24.0
7                 5.0
8                 7.0
9                 5.0
10               10.0
11                9.0
12                7.0
13                9.0
14                9.0
15                7.0
16                8.0
17                9.0
18                7.0
19               14.0
20                4.0
21               15.0
22                7.0
23                6.0
24               16.0
25                8.0
26                7.0
27               16.0
28                8.0
29                6.0
...               ...
7968              9.0
7969             13.0
7970              2.0
7971              5.0
7972              3.0
7973              2.0
7974              5.0
7975              4.0
7976              3.0
7977              1.0
7978             15.0
7979             11.0
7980              3.0
7981              1.0
7983              1.0
7984              1.0
7985              1.0
7986              2.0
7987              1.0
7988             13.0
7989              0.5
7990              5.0
7991              4.0
7992              2.0
7993              9.0
7994             10.0
7995              4.0
7996              6.0
7997              3.0
7999              4.0

[7909 rows x 1 columns]

In [73]:
y=salary_pred['Current Salary'].values
y

array([1000000., 1800000.,  927000., ...,  750000., 6000000., 2900000.])

In [74]:
model=LinearRegression()

In [75]:
model.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [76]:
model.score(x,y)

0.34976456096608366

In [77]:
salary=model.predict(x)
salary

array([1834060.18296406, 1630488.14890484, 1426916.11484563, ...,
       1426916.11484563, 1121558.06375681, 1223344.08078641])

In [78]:
y

array([1000000., 1800000.,  927000., ...,  750000., 6000000., 2900000.])

In [79]:
ensemble=salary

In [80]:
# sub = pd.DataFrame()
# sub['Id'] = salary_Id
# sub['Current Salary'] = ensemble
# sub.to_csv('submission_27.csv',index=False)

In [81]:
# X = DfEncode.iloc[:,1:]
# y = DfEncode.iloc[:,0]

In [82]:
#salary_pred.head()
#salary_pred['Email Id']

In [83]:
salary_Id=salary_pred['Unnamed: 0']
salary_Id.shape

(7909,)

In [84]:
type(salary_Id)

pandas.core.series.Series

In [85]:
sub = pd.DataFrame({'Id': salary_Id,'Salary Prediction':ensemble})
sub.to_csv('submission_27.csv',index=False)

In [86]:
# sub['Current Salary'] = ensemble
# sub.to_csv('submission_27.csv',index=False)

In [87]:
sub.head()

   Id  Salary Prediction
0   0       1.834060e+06
1   1       1.630488e+06
2   2       1.426916e+06
3   3       1.630488e+06
4   4       1.426916e+06

In [102]:
# 8000->
# 6000 train -> 2000 test

In [89]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)

In [90]:
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [91]:
model.score(x_test,y_test)

0.3529004005453424

In [92]:
x_shuffle,y_shuffle=shuffle(x,y,random_state=42)

In [93]:
cross_val_score(LinearRegression(),x_shuffle,y_shuffle,cv=5,n_jobs=-1,)

array([0.3678066 , 0.33454995, 0.36184749, 0.38023024, 0.30339536])

In [94]:
np.mean(cross_val_score(LinearRegression(),x_shuffle,y_shuffle,cv=5,n_jobs=-1,))

0.34956592857889585

In [95]:
scalar=StandardScaler()
scalar.fit(x_shuffle)
x_scaled=scalar.transform(x_shuffle)

In [96]:
scores=(cross_val_score(LinearRegression(),x_scaled,y_shuffle,cv=5,n_jobs=-1))
print(scores)
np.mean(scores)

[0.3678066  0.33454995 0.36184749 0.38023024 0.30339536]

0.34956592857889585

In [97]:
scores=(cross_val_score(Lasso(alpha=0.01),x_scaled,y_shuffle,cv=5,n_jobs=-1))
print(scores)
np.mean(scores)

[0.3678066  0.33454995 0.36184749 0.38023024 0.30339536]

0.34956592858287916

In [98]:
scores=(cross_val_score(Ridge(alpha=1),x_scaled,y_shuffle,cv=5,n_jobs=-1))
print(scores)
np.mean(scores)

[0.36780833 0.33455636 0.36184218 0.38022131 0.303402  ]

0.34956603496310695

In [99]:
# %%time
# params_rf={
    
#     'max_depth':[1],
#     'min_samples_leaf': [1],
#     'max_features': [0]
# 
}

model2 = RandomForestRegressor(n_estimators=200,random_state=42,n_jobs=-1,max_depth=1,
                               min_samples_leaf=1,max_features=1)
model2.fit(x_train,y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=1,
                      max_features=1, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=200, n_jobs=-1,
                      oob_score=False, random_state=42, verbose=0,
                      warm_start=False)

In [100]:
model2.score(x_test,y_test)

0.482758228322601